<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-4KFHLY0BKF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4KFHLY0BKF');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/about2.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <title>Your awesome team - One call away</title>
    <link rel="canonical" href="https://www.fridayexp.com/about" />
    <meta name="description" content="Connect with us for your HR-management and hiring needs and share feedback, suggestions, or complaints. Learn about our mission, values, and motivations at FRIDAY.">
    <style>
      .contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contact-info p {
    display: flex;
    align-items: flex-start;
    font-family: 'Poppins';
  }
  .contact-info p b {
    margin-right: 5px;
    padding-left: 20px;
  }
  .contact-info i{
    border-radius: 1rem;
    border: black solid 1px;
    padding: .5rem;
    font-size: 1rem;
  }
  form .label{
    color: #fff;
    font-weight: 400;
  }
    </style>
        <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '485510554197875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485510554197875&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->

</head>
<body style="overflow-x: hidden;">
    <section class="hero">
        <div class="hero-head" style="border-bottom: black solid 1px;">
           <nav class="navbar">
            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="../static/images/logo.webp" alt="Logo of FRIDAY technologies" height="35" style="max-height: unset;">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end" style="margin-left: auto;">
                <!-- Mega Dropdown: Solutions -->
                
                <!--Pricing-->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/hrpricing">
                    <span>Pricing</span>
                  </a>
                </span>
                <!-- Other Links -->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/about">
                    <span>Contact Us</span>
                  </a>
                </span>
                <!-- Regular Dropdowns -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/blog">Resources</a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="/blog#career">Career Guide</a>
                      <a class="navbar-item" href="/blog#articles">Blog Articles</a>
                      <a class="navbar-item" href="/blog#section3">E-books</a>
                      <a class="navbar-item" href="/blog#section3">Tools</a>
                    </div>
                </div>
                <span class="navbar-item">
                  <a class="button" href="https://jobs.thefridayhr.com" style="background-color: #f45025; color: #fff; border-radius:1rem; font-weight: 600;">
                    Need a job?
                  </a>
                </span>
              </div>
          </div>
        </nav>
    </div>
    <div class="hero-body" style="background-image: url(../static/images/13381541_1609.m00.i125.n001.S.c12.198623492\ Topographic\ contour\ lines\ vector\ map\ seamless\ pattern.jpg); background-repeat: no-repeat; background-size: cover;">
            <div class="container c1" >
                <div class="columns is-desktop " style="background-color: #fff; border-radius: 6px; color: #4a4a4a; box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02); border-radius: 1.5rem;">
                    <div class="column is-half has-text-left" style="background: linear-gradient(to bottom,#864def,#6743ff); border-radius: 1.5rem; ">
                        <h2 class="c1h2" style="color: #fff">
                            Send us a message.
                        </h2>
                        <form action="/submit_contact_form" method="post">
                                <div >
                                <div class="field">
                                    <label class="label">Username
                                    </label>
                                        <div class="control has-icons-left has-icons-right">
                                             <input class="input" type="text" placeholder="Hira" name="username" >
                                             <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                            </span>
                                            <span class="icon is-small is-right">
                                            <i class="fas fa-check"></i>
                                             </span>
                                        </div>
                                </div>
                                <div class="field">
                                    <label class="label">Email</label>
                                    <div class="control has-icons-left has-icons-right">
                                      <input class="input " type="email" placeholder="hira123@gmail.com"  name="email">
                                      <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                      </span>
                            
                                    </div>
                                  </div>
                                  <div class="field">
                                    <label class="label">Subject
                                    </label>
                                        <div class="control has-icons-left has-icons-right">
                                             <input class="input" type="text" placeholder="Feedback" name="subject" >
                                             <span class="icon is-small is-left">
                                              <i class="fa-solid fa-bars"></i>
                                            </span>
                                            
                                        </div>
                                </div>
                                  <div class="field">
                                    <label class="label">Message</label>
                                    <div class="control">
                                      <textarea class="textarea" placeholder="Say Something now...." name="message"></textarea>
                                    </div>
                                  </div>
                                  <div class="control">
                                    <button style="background-color: #fff;
                                    color: #864def;
                                    border-radius: 1rem;
                                    border: none;
                                    font-size: 1.1rem;
                                    font-weight: 500;padding-inline: 1rem; height: 2.5rem; padding-bottom: 5px;">Submit</button>
                                  </div>   
                            </div>
                            </form>
                    </div> 
                    <div class="column is-half">
                      <h2 class="c1h2">
                        Contact us.
                      </h2>
                      <h3 style="font-family: 'Poppins'; font-size: large;">
                      We're open for any suggestions or just to have a chat.
                      </h3> 
                      <br>
                      <div class="contact-info">
                        <p><i class="fa-solid fa-location-dot"></i> 
                        <b>Address:</b> H#450, St#43, I14/3, I14, Islamabad</p>
                        
                        <p><i class="fa-solid fa-phone"></i><b>Phone:</b> +92- 327- 9024800</p>
                        
                        <p><i class="fa-solid fa-paper-plane"></i><b>Email: </b> hello@thefridayhr.com</p>
                        
                        <p><i class="fa-solid fa-globe"></i> <b>Website:</b> thefridayhr.com</p>
                      </div>
                      <br>
                      <div class="social-icons2">
                        <span class="icon3">
                            <a href="mailto:hello@thefridayhr.com" aria-label="email contact of FRIDAY">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </span>
                        <span class="icon3">
                          <a href="https://www.instagram.com/the_friday_hr" aria-label="Link to Instagram page of FRIDAY" >
                                <i class="fab fa-instagram"></i>
                          </a></span>
                        <span class="icon3">
                          <a href="https://www.facebook.com/fridayexp" aria-label="Link to facebook account of FRIDAY">
                                <i class="fa-brands fa-square-facebook"></i>
                              </a>
                        </span>
                        <span class="icon3">
                          <a href="https://www.linkedin.com/company/thefridayhr/" aria-label="Link to LinkedIn account of FRIDAY">
                                <i class="fa-brands fa-linkedin"></i>
                              </a>
                        </span>
                        <span class="icon3">
                              <a href="https://wa.me/923279024800" aria-label="Link to Whatsapp account of FRIDAY">
                                <i class="fa-brands fa-whatsapp"></i>
                              </a>
                        </span>
                      </div>
                      <h2 class="c1h2" style="border-top: black solid 1px; margin-top: 10px;">Or Book a meeting with us for HR / Hiring services.</h2>
                      <a href="https://calendly.com/thefridayhr/friday-s-hr-services" style="all: unset;">
                        <button style="border: none; background-color: #864def; color: #fff; font-size: 1.3rem; font-weight: 500; padding-inline: 1rem; height: 2.5rem; border-radius: 1.15rem; padding-bottom: 5px;">
                            Set-up meeting
                        </button>
                    </a>                    
                    </div>
                </div>
            </div>
    </div>
</section>
<section class="section missionsection">
  <div class="container box "  class="has-text-centered">
    <article  style="font-size: 1.2rem; all: unset;">
        <div class="has-text-centered" style="background-color: #6b5b95; font-family: 'Poppins'; line-height: 1.25; color: #fff; font-weight: 500; font-size: 35px; letter-spacing: 1rem;">
          <h1  style="align-items: center;">Friday's mission</h1>
        </div>
        <div style="font-family: 'Poppins'; font-size: large;"> <br>
          Welcome to the era of joyful workplaces and thriving company cultures! Here at FRIDAY, we're not just in the business of hiring; we're in the business of <b>cultivating cultures.</b> Our vision? To create environments where employees aren't just satisfied—they're downright ecstatic to come to work every day. <br><br>Imagine a workplace where laughter echoes through the halls, where collaboration flows effortlessly, and where every team member feels valued and empowered. That's the kind of company culture we strive to cultivate, by <b> managing the entire HR department</b> for out clients.
          <br><br>We believe that when employees are happy, productivity soars, creativity flourishes, and innovation knows no bounds. That's why we go above and beyond to ensure that every hire is not just a good fit for the role, but also for the team and the company culture as a whole.<br><br>From our comprehensive hiring process to our ongoing HR support, we're dedicated to <b>building teams</b> that are not only high-performing but also deeply fulfilled. Because at the end of the day, a happy employee isn't just good for business—it's the heart and soul of a thriving company.
        </div>
      </article>
</div>
</section>

<!--                                 Footer         -->
<footer id="footer">
  <div class="container-fluid">
      <div class="columns">
          <div class="column is-two-fifths" id="footerc1">
              <figure>
                  <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
              </figure>
              <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
              <div class="field has-addons" >
                  <div class="control is-expanded has-icons-left">
                      <form action="/email_list" method="post" style="display: flex; ">
                          <div id="formdiv" >
                              <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                          </div>
                      </form>
                  </div>
                </div>
              <div style="display: inline-flex; flex-direction: row;">
                  <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                  <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                  <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                  <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                  <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
              </div>
          </div>
          <div class="column is-two-fifths" id="footerc3">
              <div class="columns is-mobile">
                  <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                  <div class="column is-half">
                      <ul class="ful">Resources
                          <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                          <li><a href="/blog#section3">E-books</a></li>
                          <li><a href="/blog#career">Career-guidance</a></li>
                          <li><a href="/blog#section3">Helpful tools</a></li>
                           
                      </ul>
                  </div>
              </div>
          </div>
          <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
              <blockquote>
                  "Great things in business are never done by one person; they're done by a team of people."<br>
                  <cite>Steve Jobs</cite>
              </blockquote>
          </div>
      </div>
      <div id="footerend">
      <p>Friday Technologies and Systems. All rights reserved.</p>
      <p><a href="/privacy">Terms and conditions</a></p>
  </div>
  </div>
</footer>

<script>
  function toggleVisibility2(id) {
    var ul = document.getElementById(id);
    if (ul.style.display === "none") {
        ul.style.display = "block";
    } else {
        ul.style.display = "none";
    }
}
</script>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" defer></script>
    <script src="https://kit.fontawesome.com/114047c3df.js" crossorigin="anonymous" defer></script>
    <script src="../static/js/combined.js"></script>
    
    
</body>
</html>