<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-4KFHLY0BKF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4KFHLY0BKF');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/blog.css">
    <link rel="stylesheet" href="../static/css/extra.css">
    <link rel="stylesheet" href="../static/sal/sal.css">
    <title>Resources for our community</title>
    <meta name="description" content="FRIDAY cares about the community it is building. We keep you updated on the latest trends in the hiring and Human resources landscape. We also have e-books, and list of tools to make remote-work easy.">
    <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '485510554197875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485510554197875&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
    <style>
        #allarticles {
    display: none;}
    </style>
</head>
<body style="overflow-x: hidden; font-family: 'Poppins';">
    <section class="hero ">
        <div class="hero-head" style="border-bottom: black solid 1px;">
            <nav class="navbar">
            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="../static/images/logo.webp" alt="Logo of FRIDAY technologies" height="35" style="max-height: unset;">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end" style="margin-left: auto;">
                <!-- Mega Dropdown: Solutions -->
                
                <!--Pricing-->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/hrpricing">
                    <span>Pricing</span>
                  </a>
                </span>
                <!-- Other Links -->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/about">
                    <span>Contact Us</span>
                  </a>
                </span>
                <!-- Regular Dropdowns -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/blog">Resources</a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="/blog#career">Career Guide</a>
                      <a class="navbar-item" href="/blog#articles">Blog Articles</a>
                      <a class="navbar-item" href="/blog#section3">E-books</a>
                      <a class="navbar-item" href="/blog#section3">Tools</a>
                    </div>
                </div>
                
                <span class="navbar-item">
                  <a class="button" href="https://jobs.thefridayhr.com" style="background-color: #f45025; color: #fff; border-radius:1rem; font-weight: 600;">
                    Need a job?
                  </a>
                </span>
              </div>
            
          </div>
        </nav>

    </div>
    <div class="hero-body" style="padding: 1rem 2rem; flex-direction: column;">
        <div class="container">
            <div class="columns" style="align-items: center;">
                <div class="column is-half" id="firstclmn">
                    <figure>
                        <img src="../static/newimgs/umar-hafeez-DjeToMEg7Z4-unsplash.webp" alt="A historic building in Pakistan" srcset="" style="border-radius: 2.5rem; box-shadow: -17px 18px 0 -10px #f45025;--sal-duration:1s;" data-sal="slide-down">
                    </figure>
                </div>
                <div class="column is-half" style="--sal-duration:1s;" data-sal="slide-up">
                    <p style="margin-bottom: 2rem;"><u> Latest Post</u></p>
                    <h1 style="font-size: 3rem; line-height: .91; font-weight: 600; ">Why Pakistan is the Top Choice for Remote Talent</h1>
                    <p><u>4th April, 2024 / Trends</u></p>
                    <a href="/Why_Pakistan_is_the_Top_Choice_for_Remote_Talent" style="all: unset;"><button style="border: none; font-size: 1.4rem; color: #fff; background-color: #f45025; border-radius: 1.15rem; padding-block: 0.71rem; padding-inline:1rem;font-weight: 500; margin-top: 1.52rem; ">Learn More</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section" style="background-color: #864def;" id="articles">
    <div class="container is-fluid" >
        <div class="columns" style="justify-content: space-evenly;">
            <div class="column is-two-fifths ">
                <!--Post-1-->
                <div style="display: inline-flex; flex-direction: column; border-radius: 2.5rem; background-color: #fff; padding: 1.5rem; align-items: flex-start; margin-bottom: 2rem; --sal-duration:1s;" data-sal="slide-up">
                    <h1 class="posth1">
                        How a Hiring Agency Can Support Your Business...
                    </h1>
                    <p class="datep">
                        29th Feb, 2024 / Company culture
                    </p>
                    <p class="desc">
                        A hiring agency can provide valuable support to businesses even after the hiring process is complete....
                    </p>
                    <a href="/benefits_of_hiring_agency" style="all: unset;"><button class="postbtn">
                        Learn more
                    </button></a>
                </div>
                <!--Post-2-->
                <div style="display: inline-flex; flex-direction: column; border-radius: 2.5rem; background-color: #fff; padding: 1.5rem; align-items: flex-start;  margin-bottom: 2rem; --sal-duration:1s;" data-sal="slide-up">
                    <h1 class="posth1">
                        Why Rushed Hiring Can Be Your Biggest Business Mistake 
                    </h1>
                    <p class="datep">
                        28th Oct, 2024 / Hiring
                    </p>
                    <p class="desc">
                        Just hire someone, and it’ll work out." If you’ve heard this in your business, you’re not alone. In today’s fast-paced world, companies often feel pressured to fill roles quickly. But, let’s be real – that approach rarely works out.....
                    </p>
                    <a href="/rushed_hiring_disaster" style="all: unset;"><button class="postbtn">
                        Learn more
                    </button></a>
                </div>
                <!--Post-3-->
                <div style="display: inline-flex; flex-direction: column; border-radius: 2.5rem; background-color: #fff; padding: 1.5rem; align-items: flex-start;  margin-bottom: 2rem; --sal-duration:1s;" data-sal="slide-up">
                    <h1 class="posth1">
                        Is remote work right for you?
                    </h1>
                    <p class="datep">
                        29th Feb, 2024 / Company culture
                    </p>
                    <p class="desc">
                        Remote work is indeed becoming the new norm in today's professional landscape. The benefits of remote work for remote workers are numerous and...
                    </p>
                    <a href="/is_remote_work_good" style="all: unset;"><button class="postbtn">
                        Learn more
                    </button></a>
                </div>
            </div>
            <div class="column is-two-fifths">
                <!--Sign-up div-->
                <div style="background-color: #6734cf; border-radius: 2.5rem; display: inline-flex; flex-direction: column; padding: 1.7rem; margin-bottom: 2rem;">
                    <h1 style="font-size: 2rem; line-height: 1; color: #fff;">Get all the updates, straight into your inbox.</h1>
                    <form action="/subscribe" method="post">
                    <input class="input1 " type="text" placeholder="Name" name="name">
                    <input class="input1 " type="text" placeholder="Field of Work" name="fow">
                    <input class="input1 " type="email" placeholder="Email" name="email">
                    <button type="submit" style="border: none;
                    background-color: #fff;
                    color: #864def;
                    font-size: 1.9rem;
                    font-weight: 600;
                    margin-inline: 5rem;
                    border-radius: 1.15rem;
                    padding-block: 0.5rem;
                    margin-top: 1.5rem;">
                        Subscribe
                    </button>
                    </form>
                </div>
                <!--Post-4-->
                <div style="display: inline-flex; flex-direction: column; border-radius: 2.5rem; background-color: #fff; padding: 1.5rem; align-items: flex-start; margin-bottom: 2rem; --sal-duration:1s;" data-sal="slide-up">
                    <h1 class="posth1">
                        Pros and Cons of hiring remote workers
                    </h1>
                    <p class="datep">
                        29th Feb, 2024 / Company culture
                    </p>
                    <p class="desc">
                        When it comes to hiring remote workers for your business, there are both positive and negative aspects to consider....
                    </p>
                    <a href="/pros_and_cons_of_remote_workers" style="all: unset;"><button class="postbtn">
                        Learn more
                    </button></a>
                </div>
                <button style="font-size: 3rem;
                border: black solid 2px;
                background: #864DEF;
                color: #fff;
                border-radius: 1.5rem;
                line-height: 0.9;
                letter-spacing: -4px;
                padding-inline: 1.3rem;
                padding-block: 1.4rem" id="showButton">View all Articles</button>
            </div>
        </div>
    </div>
</section>
                <!--                   Hidden Articles         -->
<section id="allarticles" class="section" style="background-color: #864DEF; border-top: #fff solid 3px;">
    <div class="container is-fluid" >
        <div class="columns" style="justify-content: space-evenly;">
            <div class="column is-two-fifths ">
                <!--Post-1-->
                <div style="display: inline-flex; flex-direction: column; border-radius: 2.5rem; background-color: #fff; padding: 1.5rem; align-items: flex-start; margin-bottom: 2rem; --sal-duration:1s;" data-sal="slide-up">
                    <h1 class="posth1">
                        Outsourcing HR might be the best thing you do today
                    </h1>
                    <p class="datep">
                        5th April, 2024 / HR Subscription
                    </p>
                    <p class="desc">
                        In today's fast-paced business landscape, effective human resource management is crucial for success. However, many companies.....
                    </p>
                    <a href="/outsource_to_FRIDAY" style="all: unset;"><button class="postbtn">
                        Learn more
                    </button></a>
                </div>
                <!--Post-2-->
                <div style="display: inline-flex; flex-direction: column; border-radius: 2.5rem; background-color: #fff; padding: 1.5rem; align-items: flex-start;  margin-bottom: 2rem; --sal-duration:1s;" data-sal="slide-up">
                    <h1 class="posth1">
                        Is HR really a game-changer for businesses
                    </h1>
                    <p class="datep">
                        5th April, 2024 / HR
                    </p>
                    <p class="desc">
                        HR plays a multifaceted role in building a successful and sustainable organization. By focusing on talent acquisition, talent retention, and ....
                    </p>
                    <a href="/role_of_HR" style="all: unset;"><button class="postbtn">
                        Learn more
                    </button></a>
                </div>
                <!--Post-3-->
                
            </div>
            <div class="column is-two-fifths">
                
                <!--Post-4-->
                <div style="display: inline-flex; flex-direction: column; border-radius: 2.5rem; background-color: #fff; padding: 1.5rem; align-items: flex-start; margin-bottom: 2rem; --sal-duration:1s;" data-sal="slide-up">
                    <h1 class="posth1">
                        Employee Retention Strategies for 2024
                    </h1>
                    <p class="datep">
                        19th April, 2024 / HR
                    </p>
                    <p class="desc">
                        Employee retention is a critical aspect of running a successful organization. High employee turnover can be costly and disruptive....
                    </p>
                    <a href="/employee_retention_strategies_for_2024" style="all: unset;"><button class="postbtn">
                        Learn more
                    </button></a>
                </div>
                <!--Post-5-->
                <div style="display: inline-flex; flex-direction: column; border-radius: 2.5rem; background-color: #fff; padding: 1.5rem; align-items: flex-start; margin-bottom: 2rem; --sal-duration:1s;" data-sal="slide-up">
                    <h1 class="posth1">
                        Pros and Cons of hiring remote workers
                    </h1>
                    <p class="datep">
                        29th Feb, 2024 / Company culture
                    </p>
                    <p class="desc">
                        When it comes to hiring remote workers for your business, there are both positive and negative aspects to consider....
                    </p>
                    <a href="/pros_and_cons_of_remote_workers" style="all: unset;"><button class="postbtn">
                        Learn more
                    </button></a>
                </div>
                <!--Post-6-->
                <div style="display: inline-flex; flex-direction: column; border-radius: 2.5rem; background-color: #fff; padding: 1.5rem; align-items: flex-start;  margin-bottom: 2rem; --sal-duration:1s;" data-sal="slide-up">
                    <h1 class="posth1">
                        Power of Skill-based Hiring for talent acquisition
                    </h1>
                    <p class="datep">
                        29th Feb, 2024 / Company culture
                    </p>
                    <p class="desc">
                        In today's competitive job market, finding the right talent can be a daunting task for business owners. Traditional hiring methods often rely heavily on resumes and interviews, which may not provide a comprehensive understanding....
                    </p>
                    <a href="/real_worl_projects_in_hiring" style="all: unset;"><button class="postbtn">
                        Learn more
                    </button></a>
                </div>

                <button style="font-size: 3rem;
                border: black solid 2px;
                background: #864DEF;
                color: #fff;
                border-radius: 1.5rem;
                line-height: 0.9;
                letter-spacing: -4px;
                padding-inline: 1.3rem;
                padding-block: 1.4rem" id="hideButton">Hide Articles</button>
            </div>
        </div>
    </div>
</section>
<!--                          Career guidance section  -->
<section class="section" id="career">
    <div class="container has-text-centered">
        <h1 style="font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: -2px;
        margin-top: -1rem; line-height:1; margin-bottom: 1rem;">Confused about your career?</h1>
        <p style="font-size: 1.25rem;
        font-weight: 500;
        margin-top: -7px;">A fulfilled life can't be separated from an ideal career.These might help you make the right choice.</p>
        <div class="columns " style="justify-content: space-evenly;">
           <div class="column is-5 careerclmn"  style="--sal-duration:1s;" data-sal="slide-right">
                <a href="https://www.careerexplorer.com/career-test/" style="all: unset;" target="_blank"><figure>
                    <img src="../static/newimgs/career_explorer.webp" alt="" srcset="" class="careerimg">
                </figure>
                <h3 class="careerh3">
                    Career Explorer
                </h3>
                <p class="careerp">
                    Career Explorer by Sokanu can help you figure out your <u style="font-size: 1.2rem; background-color: #f45025; color: #fff; border-radius: .5rem;"> best career options</u> based off of a small test that won't take more than 30 minutes
                </p></a>
            </div>
            
            <div class="column is-5 careerclmn"  style="--sal-duration:1s;" data-sal="slide-left">
                <a href="https://www.truity.com/test/career-personality-profiler-test" style="all: unset;" target="_blank"><figure>
                    <img  class="careerimg" src="../static/newimgs/Truity.webp" alt="" srcset="">
                </figure>
                <h3 class="careerh3">
                    Truity
                </h3>
                <p class="careerp">
                    Truity offers <u style="font-size: 1.2rem; background-color: #f45025; color: #fff; border-radius: .5rem;"> personality tests </u>that can give insights into the kind of work that would be most suitable for you
                </p></a>
            </div>
            
        </div>
    </div>
</section>
<!--                        Last Section    -->
<section class="section" id="section3">
    <div class="container has-text-centered" style="background-color: #f45025; border-radius: 1.5rem;">
        <div style="display: flex; justify-content: center;">
                <div class="column is-6 firstbtns" style="border-radius: 1.5rem 0rem 0rem 0rem; background-color: #f45025; color: #fff; border: #fff solid 2px; border-right: none;">
                    <a href="#section3" style="all: unset;"> E-books</a>
            </div>
            <div class="column is-6 firstbtns" style="border: #f45025 solid 1px; border-radius: 0rem 1.5rem 0rem 0rem; background-color: #fff; color: #f45025;">
                <a href="#tools" style="all: unset;">Helpul Tools</a>
            </div>
        </div>
        <div class="ebooks" style="margin-top: 20px;">
            <div class="columns "><!--/div> style="display: inline-flex; flex-direction: row; justify-content: space-evenly;"-->
                <div class="column is-4">
                    <a href="../static/pdfs/Remote Workers from Pakistan.pdf" target="_blank" style="all: unset;"><figure class="pdf">
                        <img src="../static/newimgs/hire from Pakistan.webp" alt="" srcset="">
                    </figure></a>
                </div>
                <div class="column is-4">
                    <a href="../static/pdfs/How to Assemble an All-Star Remote Team.pdf" target="_blank" style="all: unset;"><figure class="pdf">
                        <img src="../static/newimgs/Hire an all-star remote team (2).webp" alt="" srcset="">
                    </figure></a>
                </div>
                <div class="column is-4">
                    <a href="../static/pdfs/Time to hire remote.pdf" target="_blank" style="all: unset;"><figure class="pdf">
                        <img src="../static/newimgs/Time to hire remote.webp" alt="" srcset="">
                    </figure></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--                        Last section Part#2-->
<section class="section" id="tools">
    <div class="container has-text-centered" style="background-color: #f45025; border-radius: 1.5rem;">
        <div style="display: flex; justify-content: center;">
            <div class="column is-6 firstbtns" style="border: #f45025 solid 1px; border-radius: 1.5rem 0rem 0rem 0rem; background-color: #fff; color: #f45025;">
               <a href="#section3" style="all: unset;"> E-books</a>
            </div>
            <div class="column is-6 firstbtns" style="border-radius: 0rem 1.5rem 0rem 0rem; background-color: #f45025; color: #fff; border: #fff solid 2px; border-right: none;">
                <a href="#tools" style="all: unset;">Helpul Tools</a>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-3 has-text-left" id="largeDiv">
                <ul style=" font-weight: 400; color: #fff; " id="list">
                    <li><button class="toggleButton" data-target="div1">Communication</button></li>
                    <li><button class="toggleButton" data-target="div2">Team Collaboration</button></li>
                    <li><button class="toggleButton" data-target="div10">Time Zone</button></li>
                    <li><button class="toggleButton" data-target="div3">Productivity</button></li>
                    <li><button class="toggleButton" data-target="div4">Project Management</button></li>
                    <li><button class="toggleButton" data-target="div5">Team building</button></li>
                    <li><button class="toggleButton" data-target="div6">Data Security</button></li>
                    <li><button class="toggleButton" data-target="div7">Performance</button></li>
                    <li><button class="toggleButton" data-target="div8">Employee well-being</button></li>
                    <li><button class="toggleButton" data-target="div9">Onboarding</button></li>
                    <!-- Add more buttons with data-target attributes -->
                </ul>
            </div>
            <div class="column has-text-left" style="color: #fff; padding-right: 2rem;" id="divs">
                <div class="toggleDiv" id="div1" style="display:none;">
                    <h2 class="lasth2">
                        Ensuring effective communication when team members are not physically present can be challenging.
                    </h2>
                    <p><b><u>Slack</u></b>  is a messaging platform that brings teams together for communication and collaboration in channels.</p>
                    <p><b><u>Zoom </u></b> is a video conferencing platform for virtual meetings, webinars, and online collaboration</p>
                    <p><b><u>Microsoft Teams:</u></b> is a collaboration platform that combines workplace chat, video conferencing, file storage, and application integration.</p>
                    <div class="columns is-mobile" >
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://slack.com/" target="_blank">
                                    <img src="../static/icons/slack.webp" alt="Icon of Slack" >
                                </a>
                               </figure>
                            </div>        
                       </div>
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://zoom.us" target="_blank">
                                    <img src="../static/icons/zoom.webp" alt="Icon of Zoom">
                                </a>
                               </figure>
                            </div>        
                       </div>
                       <div class="column">
                            <div class="box " style="width: fit-content;">
                                <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://www.microsoft.com/en-us/microsoft-teams/log-in" target="_blank">
                                        <img src="../static/icons/msteams.webp" alt="Icon of Ms teams">
                                    </a>
                                </figure>
                            </div>        
                        </div>
                    </div>
    
                </div>
                <div class="toggleDiv" id="div2" style="display:none;">
                    <h2 class="lasth2">
                            Coordinating tasks, projects, and workflows among remote team members.
                        </h2>
                       <p><b><u>Google Workspace:</u></b>  Formerly G Suite, Google Workspace offers cloud-based productivity and collaboration tools like Gmail, Docs, Drive, and more.</p>
                       <p><b><u>Microsoft 365:</u></b>  A suite of productivity tools including Word, Excel, Outlook, and Teams for communication and collaboration.</p>
                        <p><b><u>Notion</u></b> is an all-in-one workspace that combines note-taking, project management, and collaboration tools, allowing individuals and teams to organize tasks, documents, and knowledge in a customizable and intuitive platform.</p>
                        <div class="columns is-mobile">
                            <div class="column">
                                <div class="box " style="width: fit-content;">
                                   <figure style="max-width: 4rem; max-width: 4rem;">
                                        <a href="https://www.notion.so/" target="_blank">
                                            <img src="../static/icons/notion.webp" alt="Icon of Notion" >
                                        </a>
                                    </figure>
                                </div>        
                           </div>
                            <div class="column">
                                <div class="box " style="width: fit-content;">
                                   <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://workspace.google.com/" target="_blank">
                                        <img src="../static/icons/googleworkspace.webp" alt="Icon of Google Workspace">
                                    </a>
                                   </figure>
                                </div>        
                           </div>
                           <div class="column">
                                <div class="box " style="width: fit-content;">
                                    <figure style="max-width: 4rem; max-width: 4rem;">
                                        <a href="https://slack.com/" target="_blank">
                                            <img src="../static/icons/slack.webp" alt="Icon of Slack">
                                        </a>   
                                    </figure>
                                </div>        
                            </div>
                        </div>
                </div>
                <div class="toggleDiv" id="div3" style="display:none;">
                    <h2 class="lasth2">
                        Monitoring and ensuring that team members are staying productive and meeting deadlines.
                    </h2>
                    <p><b><u>Toggl:</u></b> Time tracking and productivity management tool for individuals and teams.</p>
                       <p><b><u>Harvest:</u></b>  Time tracking and invoicing tool for businesses and freelancers.</p>
                        <p><b><u>RescueTime:</u></b> Analyzes computer usage to help individuals track and improve their productivity.</p>
                        <div class="columns is-mobile">
                            <div class="column">
                                <div class="box " style="width: fit-content;">
                                   <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://toggl.com" target="_blank">
                                        <img src="../static/icons/toggl.webp" alt="Icon of Toggl">
                                    </a>
                                       
                                   </figure>
                                </div>        
                           </div>
                            <div class="column">
                                <div class="box " style="width: fit-content;">
                                   <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://rescuetime.com" target="_blank">
                                        <img src="../static/icons/rescuetime.webp" alt="Icon of RescueTime">
                                    </a>
                                       
                                   </figure>
                                </div>        
                           </div>
                           <div class="column">
                                <div class="box " style="width: fit-content;">
                                    <figure style="max-width: 4rem; max-width: 4rem;">
                                        <a href="https://getharvest.com" target="_blank">
                                            <img src="../static/icons/harvest.webp" alt="Icon of Harvest">
                                        </a>
                                        
                                    </figure>
                                </div>        
                            </div>
                        </div>
                </div>
                <div class="toggleDiv" id="div4" style="display:none;">
                    <h2 class="lasth2">
                        Keeping track of tasks, assigning responsibilities, and ensuring that projects progress smoothly.
                    </h2>
                    <p><b><u>Trello:</u></b> A visual project management tool that uses boards, lists, and cards to organize tasks and projects.</p>
                    <p><b><u>Monday:</u></b> Work operating system that empowers teams to run projects and workflows with confidence.</p>
                    <p><b><u>ClickUp:</u></b> All-in-one project management platform with customizable features for teams of all sizes.</p>
                    <div class="columns is-mobile">
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://monday.com" target="_blank">
                                    <img src="../static/icons/monday.webp" alt="Icon of Monday.com" >
                                </a>
                                   
                               </figure>
                            </div>        
                       </div>
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://trello.com" target="_blank">
                                    <img src="../static/icons/trello.webp" alt="Icon of Trello">
                                </a>
                                   
                               </figure>
                            </div>        
                       </div>
                       <div class="column">
                            <div class="box " style="width: fit-content;">
                                <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://clickup.com" target="_blank">
                                        <img src="../static/icons/clickup.webp" alt="Icon of ClickUp" >
                                    </a>
                                    
                                </figure>
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="toggleDiv" id="div5" style="display:none;">
                    <h2 class="lasth2">
                        Fostering team spirit and maintaining morale when team members are not physically present.
                    </h2>
                    <p><b><u>Icebreaker:</u></b> Virtual team building platform that helps remote teams connect through interactive activities.</p>
                    <p><b><u>Donut:</u></b> Slack app that fosters team connections by randomly pairing team members for virtual coffee or lunch.</p>
                    <p><b><u>Virtual Team Building Activities:</u></b> Organize virtual events, workshops, or casual chats.</p>
                    <div class="columns is-mobile">
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://donut.com" target="_blank">
                                    <img src="../static/icons/donut.webp" alt="Icon of Donut">
                                </a>
                                   
                               </figure>
                            </div>        
                       </div>
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://gatheround.com" target="_blank">
                                    <img src="../static/icons/gatherround.webp" alt="Icon of Gatheround">
                                </a>
                               </figure>
                            </div>        
                       </div>
                    </div>
                </div>
                <div class="toggleDiv" id="div6" style="display:none;">
                    <h2 class="lasth2">
                        Ensuring that sensitive data is handled securely, especially when team members are working from various locations.
                    </h2>
                    <p><b><u>Dropbox</u></b> is a cloud-based file storage and sharing platform that enables users to securely store, access, and collaborate on files from any device, streamlining workflows and enhancing team productivity.</p>
                    <p><b><u>VPN Services:</u></b> Ensure secure connections for remote workers.</p>
                    <p><b><u>Tresorit:</u></b> Cloud storage service with end-to-end encryption for secure file sharing and collaboration.
                        </p>
                        <div class="columns is-mobile">
                            <div class="column">
                                <div class="box " style="width: fit-content;">
                                   <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://tresorit.com" target="_blank">
                                        <img src="../static/icons/tresorit.webp" alt="Icon of Tresorit" >
                                    </a>
                                       
                                   </figure>
                                </div>        
                           </div>
                            <div class="column">
                                <div class="box " style="width: fit-content;">
                                   <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://dropbox.com" target="_blank">
                                        <img src="../static/icons/dropbox.webp" alt="Icon of Dropbox">
                                    </a>
                                   </figure>
                                </div>        
                           </div>
                        </div>
                </div>
                <div class="toggleDiv" id="div7" style="display:none;">
                    <h2 class="lasth2">
                        Evaluating the performance of remote team members and providing constructive feedback.
                    </h2>
                    <p><b><u>15Five:</u></b> Performance management software that facilitates continuous feedback, OKRs, and performance reviews.</p>
                    <p><b><u>Lattice:</u></b>
                         People management platform that helps companies align, engage, and grow their employees.
                        </p>
                        <div class="columns is-mobile">
                            <div class="column">
                                <div class="box " style="width: fit-content;">
                                   <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://15five.com" target="_blank">
                                        <img src="../static/icons/15five.webp" alt="Icon of 15five">
                                    </a>
                                       
                                   </figure>
                                </div>        
                           </div>
                            <div class="column">
                                <div class="box " style="width: fit-content;">
                                   <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://lattice.com" target="_blank">
                                        <img src="../static/icons/lattice.webp" alt="Icon of Lattice" >
                                    </a>
                                       
                                   </figure>
                                </div>        
                           </div>
                           
                        </div>
                </div>
                <div class="toggleDiv" id="div8" style="display:none;">
                    <h2 class="lasth2">
                        Ensuring that team members are managing their well-being and mental health, especially in a remote setting.
                    </h2>
                    <p><b><u>Headspace</u></b> is a mindfulness and meditation app designed to help individuals reduce stress, improve focus, and promote overall mental well-being through guided meditation sessions and mindfulness exercises.</p>
                    <p><b><u>Culture Amp:</u></b> It is an employee feedback and analytics platform that empowers organizations to gather, analyze, and act on employee feedback, enabling them to build a positive work culture and drive employee engagement and performance.</p>
                    <p><b><u>Mental Health Resources:</u></b> Provide access to mental health resources, Employee Assistance Programs (EAP), or subscriptions to mental health apps.</p>
                    <div class="columns is-mobile">
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://cultureamp.com" target="_blank">
                                    <img src="../static/icons/cultureamp.webp" alt="Icon of Cultureamp">
                                </a>
                                   
                               </figure>
                            </div>        
                       </div>
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://headspace.com" target="_blank">
                                    <img src="../static/icons/headspace.webp" alt="Icon of Headspace">
                                </a>
                               </figure>
                            </div>        
                       </div>
                    </div>
                </div>
                <div class="toggleDiv" id="div9" style="display:none;">
                    <h2 class="lasth2">
                        Effectively onboarding new team members and providing ongoing training.
                    </h2>
                    <p><b><u>Moodle:</u></b> Open-source learning platform designed to provide educators, administrators, and learners with a single robust, secure, and integrated system to create personalized learning environments.</p>
                    <p><b><u>TalentLMS:</u></b> Cloud-based learning management system (LMS) for online training that streamlines the process of compliance and corporate training for any organization.</p>
                    <p><b><u>Teachable:</u></b> Create and sell online courses with this platform that enables individuals and businesses to build and grow their online schools.</p>
                    <div class="columns is-mobile">
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://moodle.org" target="_blank">
                                    <img src="../static/icons/moodle.webp" alt="Icon of moodle" >
                                </a>
                               </figure>
                            </div>        
                       </div>
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://talentlms.com" target="_blank">
                                    <img src="../static/icons/talentlms.webp" alt="Icon of TalentLMS">
                                </a>
                                   
                               </figure>
                            </div>        
                       </div>
                       <div class="column">
                            <div class="box " style="width: fit-content;">
                                <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://teachable.com" target="_blank">
                                    <img src="../static/icons/teachable.webp" alt="Icon of Teachable">
                                    </a>
                                    
                                </figure>
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="toggleDiv" id="div10" style="display: none;">
                    <h2 class="lasth2">
                        Coordinating work across different time zones can lead to delays and miscommunications.
                    </h2>
                    <p><b><u>World Time Buddy:</u></b> A world clock tool that helps schedule meetings across different time zones.
                      <p><b><u>Calendly:</u></b>   Simplifies scheduling by allowing others to book time with you based on your availability.</p>
                      <p><b><u>Doodle:</u></b>  Helps in scheduling meetings by polling participants for their availability.</p>
                      <div class="columns is-mobile">
                                            
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                               <figure style="max-width: 4rem; max-width: 4rem;">
                                <a href="https://calendly.com/" target="_blank">
                                    <img src="../static/icons/calendly.webp" alt="Icon of Calendly">
                                </a>   
                               </figure>
                            </div>        
                       </div>
                       <div class="column">
                            <div class="box " style="width: fit-content;">
                                <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://doodle.com" target="_blank">
                                        <img src="../static/icons/doodle.webp" alt="Icon of Doodle" >
                                    </a>
                                </figure>
                            </div>        
                        </div>
                        <div class="column">
                            <div class="box " style="width: fit-content;">
                                <figure style="max-width: 4rem; max-width: 4rem;">
                                    <a href="https://worldtimebuddy.com" target="_blank">
                                      <img src="../static/icons/wtb.webp" alt="Icon of World time buddy" >  
                                    </a>
                                </figure>
                            </div>        
                        </div>
                    </div>
                </div>
            </div>
            
            </div>
            <div class="column has-text-left" style="color: #fff; padding-right: 2rem;" id="smallDiv">
                <h1 style="font-size: 1.7rem;
                line-height: 1;">Unfortunately,Your screen size is too small for this section, since it is only visible on large screens i.e tablets / Desktops.</h1>
            </div>
        </div>
    </div>
</section>


<!--                                 Footer         -->
 <footer id="footer">
    <div class="container-fluid" style="margin-top:.5rem;">
        <div class="columns" style="margin-bottom:2rem;">
            <div class="column is-two-fifths" id="footerc1">
                <figure>
                    <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
                </figure>
                <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
                <div class="field has-addons" >
                    <div class="control is-expanded has-icons-left">
                        <form action="/email_list" method="post" style="display: flex; ">
                            <div id="formdiv" >
                                <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                            </div>
                        </form>
                    </div>
                  </div>
                <div style="display: inline-flex; flex-direction: row;">
                    <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                    <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                    <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                    <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                    <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
                </div>
            </div>
            <div class="column is-two-fifths" id="footerc3">
                <div class="columns is-mobile">
                    <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="column is-half">
                        <ul class="ful">Resources
                            <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                            <li><a href="/blog#section3">E-books</a></li>
                            <li><a href="/blog#career">Career-guidance</a></li>
                            <li><a href="/blog#section3">Helpful tools</a></li>
                             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
                <blockquote>
                    "Great things in business are never done by one person; they're done by a team of people."<br>
                    <cite>Steve Jobs</cite>
                </blockquote>
            </div>
        </div>
        <div id="footerend">
        <p>Friday Technologies and Systems. All rights reserved.</p>
        <p><a href="/privacy">Terms and conditions</a></p>
    </div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/114047c3df.js" crossorigin="anonymous" defer></script>
<script src="../static/js/combined.js"></script>
<script src="../static/sal/sal.js"></script>
<script>
    sal({
        threshold: 0.5,
        once: false,
    })
</script>
<script>
document.getElementById("showButton").addEventListener("click", function() {
    var articlesDiv = document.getElementById("allarticles");
    articlesDiv.style.display = "block";
});

document.getElementById("hideButton").addEventListener("click", function() {
    var articlesDiv = document.getElementById("allarticles");
    articlesDiv.style.display = "none";
});

document.querySelectorAll('.toggleButton').forEach(button => {
        button.addEventListener('click', function() {
            var targetId = button.getAttribute('data-target'); // Get the ID of the associated div
            var targetDiv = document.getElementById(targetId); // Find the associated div

            // Hide all toggleDivs
            document.querySelectorAll('.toggleDiv').forEach(div => {
                div.style.display = 'none';
            });

            // Show the associated div
            targetDiv.style.display = 'block';
        });
    });

</script>
</body>
</html>