<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/services2.css">
    <link rel="stylesheet" href="../static/css/portfolio_slider.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="canonical" href="/index">
    <title>Hiring Services for any industry, any role</title>
    <meta name="description" content="No matter if you are looking to hire for a very specific role, or in a very tough industry or you need bulk hiring, we got you covered. Let us know what your problem is and we'll make it go away!">
    <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '485510554197875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485510554197875&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
   
    <!-- End Meta Pixel Code -->
</head>
<body style="overflow-x: hidden; font-family: 'Poppins';">
    <section class="hero" >
        <div class="hero-head" style="border-bottom: black solid 1px;">
            <nav class="navbar">
            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="../static/images/logo.webp" alt="Logo of FRIDAY technologies" height="35" style="max-height: unset;">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end" style="margin-left: auto;">
                <!-- Mega Dropdown: Solutions -->
                
                <!--Pricing-->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/hrpricing">
                    <span>Pricing</span>
                  </a>
                </span>
                <!-- Other Links -->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/about">
                    <span>Contact Us</span>
                  </a>
                </span>
                <!-- Regular Dropdowns -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/blog">Resources</a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="/blog#career">Career Guide</a>
                      <a class="navbar-item" href="/blog#articles">Blog Articles</a>
                      <a class="navbar-item" href="/blog#section3">E-books</a>
                      <a class="navbar-item" href="/blog#section3">Tools</a>
                    </div>
                </div>
                
                <span class="navbar-item">
                  <a class="button" href="https://jobs.thefridayhr.com" style="background-color: #f45025; color: #fff; border-radius:1rem; font-weight: 600;">
                    Need a job?
                  </a>
                </span>
              </div>
            
          </div>
        </nav>
          </div>
        </div>
        <div class="hero-body">
            <h2 style="text-align: center; font-size: 5rem; letter-spacing: -5px; line-height: .91; padding-top: 4rem; font-weight: 500;">Your Trusted <o style="background: linear-gradient(to right, #6734cf, #f35025);
                -webkit-background-clip: text;
                color: transparent;"> Hiring </o>Partner.</h2>
            <h3 style="text-align: center; font-size: 1.45rem; letter-spacing: -2p; line-height: 1; padding-bottom: 2.5rem;">Whether you need 1 employee or 100. We got you covered!</h3>
        </div>
    </section>

<section id="hiring" style="padding-bottom: 2rem;" class="section">
    <div class="container ">
        <div class="columns" style="border: 2px solid black; border-radius: 1.5rem; background-color: #864def;">
            <div class="column is-6 c2" style="background-color: #fff;">
                <h3 style="font-size: 1.8rem;font-weight: 600;line-height: 1;letter-spacing: -2px;">Hire Once. Hire Right.</h3>
                <form id="jobApplicationForm">
                    <div class="field">
                      <label class="label" style="margin-bottom: 0rem;">How many people do you need to hire?</label>
                      <div class="control">
                        <input class="input" type="number" id="numToHire" min="1" required>
                      </div>
                    </div>
                    <div class="field">
                      <label class="label" style="margin-bottom: 0rem;">What's the work style going to be?</label>
                      <div class="control">
                        <label class="radio">
                          <input type="radio" name="workStyle" value="remote" required>
                              Remote
                            </label>
                            <label class="radio">
                              <input type="radio" name="workStyle" value="inOffice" required>
                              In Office
                            </label>
                          </div>
                        </div>
                    
                        <div class="field">
                          <label class="label" style="margin-bottom: 0rem;">What kind of role is it?</label>
                          <div class="control">
                            <div class="select">
                              <select id="roleType" required>
                                <option value="" disabled selected>Select role type</option>
                                <option value="fullTime">Full-time</option>
                                <option value="partTime">Part-time</option>
                                <option value="contract">Contract</option>
                              </select>
                            </div>
                          </div>
                        </div>
                    
                        <div class="field">
                            <label class="label" style="margin-bottom: 0rem;">How many years of experience is required?</label>
                            <div class="control">
                              <input class="input" type="number" id="experienceYears" min="0" required placeholder="Enter number of years">
                            </div>
                          </div>
                        
                          <div class="field">
                            <label class="label" style="margin-bottom: 0rem;">What shift will the role require?</label>
                            <div class="control">
                              <label class="radio">
                                <input type="radio" name="shiftType" value="dayShift" required>
                                Day Shift
                              </label>
                              <label class="radio">
                                <input type="radio" name="shiftType" value="nightShift" required>
                                Night Shift
                              </label>
                            </div>
                          </div>
                        
                          <div class="field">
                            <label class="label" style="margin-bottom: 0rem;">Do you need a specific gender for this role?</label>
                            <div class="control">
                              <label class="radio">
                                <input type="radio" name="genderPreference" value="male" required>
                                Male
                              </label>
                              <label class="radio">
                                <input type="radio" name="genderPreference" value="female" required>
                                Female
                              </label>
                              <label class="radio">
                                <input type="radio" name="genderPreference" value="noPreference" required>
                                No Preference
                              </label>
                            </div>
                          </div>
                        </form>
                </div>
                <div class="column is-6  has-text-left" data-sal="slide-right" style="--sal-duration:1s; color: #fff;">
                    <h2 style="font-size: 2rem; font-weight: 500; padding-bottom: 1rem;">Your Investment</h2>
                    <h2 style="font-size: 1.25rem; font-weight: 500;  line-height: 1.1; padding-bottom: 1rem;" id="resultDisplay"></h2>
                    <p style="line-height: 1.2; font-size: 1.1rem; padding-block: 1rem;padding-right: 1.5rem;">We do End-to-End hiring from posting on job boards to conducting interviews and onboarding. Also We will replace the candidate as manay times as it takes for you to find the perfect fit!</p>
                    <a href="https://wa.me/923279024800" style="border: none; background-color: #fff; color: #864def; font-size: 1.5rem; font-weight: 500; padding-block: 0.51rem; border-radius: 1.15rem; padding-inline: 3rem;">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns" style="border: 1px solid black; border-radius: 1rem; background-color: #f45025; color: #fff;">
                <div class="column is-one-third has-text-centered" style="border-bottom: 2px solid #fff;">
                    <img src="../static/services/money-saving_16361828.png" alt="Icon 1" style="width: 50px; height: 50px;">
                    <p style="font-size: 1.3rem; line-height: 1; padding-inline: 1rem;">Affordable Plans - Get quality hires within your budget.</p>
                </div>
                <div class="column is-one-third has-text-centered" style="border-bottom: 2px solid #fff;"> 
                    <img src="../static/services/time_3506779.png" alt="Icon 2" style="width: 50px; height: 50px;">
                    <p style="font-size: 1.3rem; line-height: 1; padding-inline: 1rem;">Minimal Time to hire - Hire in just 2-4 weeks.</p>
                </div>
                <div class="column is-one-third has-text-centered">
                    <img src="../static/services/user_469819.png" alt="Icon 3" style="width: 50px; height: 50px;">
                    <p style="font-size: 1.3rem; line-height: 1; padding-inline: 1rem;">Hiring Backup - For 2 months we'll be responsible for any bad hires.</p>
                </div>
            </div>
        </div>
    </section>

   <!--Portfolio Section--->
<section>
  <div class="container is-fluid">
      <div class="portfolio-slider">
          <div class="slide-track">
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/1.jpeg" alt="Logo of Metamorph">
              </div>
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/2.jpeg" alt="Logo of company2">
              </div>
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/3.jpeg" alt="Logo of sbd">
              </div>
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/4.jpg" alt="Logo of Cartswing">
              </div>
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/5.jpeg" alt="Logo of GS studios">
              </div>
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/6.png" alt="Logo of Drapezzi">
              </div>
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/7.jpg" alt="Logo of Verve">
              </div>
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/9.png" alt="Logo of Design Perfecto">
              </div>
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/10.png" alt="Logo of Metamorph">
              </div>
              <div class="portfolio-slide">
                  <img src="../static/Friday_Portfolio_Logos/11.png" alt="Logo of company2">
              </div>
          </div>
      </div>
  </div>
</section>

    
   <!--                                 Footer         -->
<!--                                 Footer         -->
<footer id="footer">
    <div class="container-fluid" style="margin-top:.5rem;">
        <div class="columns" style="margin-bottom:2rem;">
            <div class="column is-two-fifths" id="footerc1">
                <figure>
                    <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
                </figure>
                <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
                <div class="field has-addons" >
                    <div class="control is-expanded has-icons-left">
                        <form action="/email_list" method="post" style="display: flex; ">
                            <div id="formdiv" >
                                <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                            </div>
                        </form>
                    </div>
                  </div>
                <div style="display: inline-flex; flex-direction: row;">
                    <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                    <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                    <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                    <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                    <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
                </div>
            </div>
            <div class="column is-two-fifths" id="footerc3">
                <div class="columns is-mobile">
                    <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="column is-half">
                        <ul class="ful">Resources
                            <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                            <li><a href="/blog#section3">E-books</a></li>
                            <li><a href="/blog#career">Career-guidance</a></li>
                            <li><a href="/blog#section3">Helpful tools</a></li>
                             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
                <blockquote>
                    "Great things in business are never done by one person; they're done by a team of people."<br>
                    <cite>Steve Jobs</cite>
                </blockquote>
            </div>
        </div>
        <div id="footerend">
        <p>Friday Technologies and Systems. All rights reserved.</p>
        <p><a href="/privacy">Terms and conditions</a></p>
    </div>
    </div>
</footer>
      
<script src="../static/js/combined.js"></script>
<script src="../static/js/hiringpricing.js"></script>

</body>
</html>