<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-4KFHLY0BKF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4KFHLY0BKF');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="../static/css/extra.css">
    <title>Hiring - HR - Survey</title>
    <meta name="description" content="FRIDAY is a platform for individuals to land awesome job opportunities based on their skills, rather than CVs. Sign-up on this page to receive relevant job-posting alerts.">
        <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '485510554197875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485510554197875&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3641153989487559');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3641153989487559&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body style="overflow-x: hidden; font-family: 'Poppins';">
    <section class="hero ">
        <div class="hero-head" style="border-bottom: black solid 1px;">
          <div class="container" >
            <nav class="navbar">
            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="../static/images/logo.webp" alt="Logo of FRIDAY technologies" height="35" style="max-height: unset;">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end" style="margin-left: auto;">
                <!-- Mega Dropdown: Solutions -->
                
                <!--Pricing-->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/hrpricing">
                    <span>Pricing</span>
                  </a>
                </span>
                <!-- Other Links -->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/about">
                    <span>Contact Us</span>
                  </a>
                </span>
                <!-- Regular Dropdowns -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/blog">Resources</a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="/blog#career">Career Guide</a>
                      <a class="navbar-item" href="/blog#articles">Blog Articles</a>
                      <a class="navbar-item" href="/blog#section3">E-books</a>
                      <a class="navbar-item" href="/blog#section3">Tools</a>
                    </div>
                </div>
                
                <span class="navbar-item">
                  <a class="button" href="https://jobs.thefridayhr.com" style="background-color: #f45025; color: #fff; border-radius:1rem; font-weight: 600;">
                    Need a job?
                  </a>
                </span>
              </div>
            
          </div>
        </nav>
      </div>
    </div>
    <div class="hero-body" style="padding: 1rem 2rem; flex-direction: column; color: #fff;">
        <div class="container has-text-centered"  style="background:linear-gradient(to bottom, #864def,#ff3332 ); border-radius: 1.75rem;">
            <h1 id="formh1">
                We're glad to see you here!
            </h1>
            <h3 style="font-size: 1.5rem; line-height: 1.2;">And would love to know more about you.</h3>
            <form id="survey-form" method="POST" action="/submit_survey">
                <div class="labels q">
                  <label for="name">* Full Name</label>
                </div>
                <div class="input-tab">
                  <input class="input-field" type="text" id="name" name="name" placeholder="Enter your name" required autofocus>
                </div>
                
                <div class="labels q">
                  <label for="company_name">* Company Name</label>
                </div>
                <div class="input-tab">
                  <input class="input-field" type="text" id="company_name" name="company_name" placeholder="Where do you work?" required>
                </div>
                
                <div class="labels q">
                  <label for="position">* Job Title</label>
                </div>
                <div class="input-tab">
                  <input class="input-field" type="text" id="position" name="position" placeholder="What is your current job title..." required>
                </div>
                
                <h3 style="border-top: white solid 2px; font-size: 1.2rem; margin-top: 1rem;">About Hiring</h3>
                
                <div class="labels q">
                  <label>Do you think hiring the right person matters?</label>
                </div>
                <div class="control input-tab" style="display: inline-flex; flex-direction: column; margin-top: 1rem;">
                  <label class="radio">
                    <input type="radio" name="hq1" value="yes" required>
                    Yes, Absolutely.
                  </label>
                  <label class="radio">
                    <input type="radio" name="hq1" value="no">
                    No, we can always replace.
                  </label>
                  <label class="radio">
                    <input type="radio" name="hq1" value="maybe">
                    Maybe, not sure.
                  </label>
                </div>
                
                <div class="labels q">
                  <label for="dropdown">What part of the hiring process is the most crucial in your opinion?</label>
                </div>
                <div class="input-tab">
                  <select id="dropdown" name="hq2" required>
                    <option disabled selected value>Select an option</option>
                    <option value="job_description">Creating a clear Job Description</option>
                    <option value="no_of_applicants">Getting a large enough number of applicants</option>
                    <option value="screening">Screening Process</option>
                    <option value="interview">Interview</option>
                    <option value="onboarding">Onboarding</option>
                    <option value="other">Other</option>
                  </select>
                </div>
                
                <div class="labels q">
                  <label for="hq3">* Have you ever seen negative consequences of a mis-hire?</label>
                </div>
                <div class="input-tab">
                  <textarea class="input-field" id="hq3" name="hq3" rows="5" placeholder="Please share your experience"></textarea>
                </div>
                
                <div class="labels q">
                  <label for="hq4">* What do you think is the most important thing to look for in a candidate?</label>
                </div>
                <div class="input-tab">
                  <input class="input-field" type="text" id="hq4" name="hq4" placeholder="Any skills, qualities etc." required>
                </div>
                
                <div class="labels q">
                  <label for="hq5">* Would you like to leave a piece of advice for our hiring team?</label>
                </div>
                <div class="input-tab">
                  <textarea class="input-field" id="hq5" name="hq5" rows="5" placeholder="Much appreciated..."></textarea>
                </div>
                
                <h3 style="border-top: white solid 2px; font-size: 1.2rem; margin-top: 1rem;">About Human Resources</h3>
              
                <div class="labels q">
                  <label for="org_culture">How would you describe the organizational culture at your company?</label>
                </div>
                <div class="input-tab">
                  <select id="dropdown" name="hrq1" required>
                    <option disabled selected value>Select an option</option>
                    <option value="innovative">Innovative and collaborative</option>
                    <option value="traditional">Traditional and hierarchical</option>
                    <option value="supportive">Supportive and inclusive</option>
                    <option value="competitive">Competitive and results-driven</option>
                    <option value="other_hr">Other (We have our own unique culture)</option>
                  </select>
                </div>
                
                <div class="labels q">
                  <label for="retention_measures">What measures does your company take to retain talent?</label>
                </div>
                <div class="input-tab">
                  <select id="dropdown" name="hrq2" required>
                    <option disabled selected value>Select an option</option>
                    <option value="compensation_benefits">Competitive compensation and benefits</option>
                    <option value="career_development">Career development opportunities</option>
                    <option value="recognition_programs">Employee recognition programs</option>
                    <option value="work_life_balance">Work-life balance initiatives</option>
                    <option value="all_measures">All of these</option>
                  </select>
                </div>
                
                <div class="labels q">
                  <label>How would you rate the current level of employee engagement and satisfaction in your company?</label>
                </div>
                <div class="control input-tab" style="display: inline-flex; flex-direction: column; margin-top: 1rem;">
                  <label class="radio">
                    <input type="radio" name="hrq3" value="very_low" required>
                    Very Low
                  </label>
                  <label class="radio">
                    <input type="radio" name="hrq3" value="low">
                    Low
                  </label>
                  <label class="radio">
                    <input type="radio" name="hrq3" value="neutral">
                    Neutral
                  </label>
                  <label class="radio">
                    <input type="radio" name="hrq3" value="high">
                    High
                  </label>
                  <label class="radio">
                    <input type="radio" name="hrq3" value="very_high">
                    Very High
                  </label>
                </div>
                
                <div class="labels q">
                  <label>How effective is your company's performance management system?</label>
                </div>
                <div class="control input-tab" style="display: inline-flex; flex-direction: column; margin-top: 1rem;">
                  <label class="radio">
                    <input type="radio" name="hrq4" value="not_effective" required>
                    Not effective at all
                  </label>
                  <label class="radio">
                    <input type="radio" name="hrq4" value="somewhat_effective">
                    Somewhat effective
                  </label>
                  <label class="radio">
                    <input type="radio" name="hrq4" value="moderately_effective">
                    Moderately effective
                  </label>
                  <label class="radio">
                    <input type="radio" name="hrq4" value="very_effective">
                    Very effective
                  </label>
                  <label class="radio">
                    <input type="radio" name="hrq4" value="extremely_effective">
                    Extremely effective
                  </label>
                </div>
                
                <div class="labels q">
                  <label for="hr_advice">* Would you like to leave a piece of advice for our HR team?</label>
                </div>
                <div class="input-tab">
                  <textarea class="input-field" id="hr_advice" name="hrq5" rows="5" placeholder="Much appreciated..."></textarea>
                </div>
                
                <div>
                  <button id="submit" type="submit" class="submitbtn">Submit</button>
                </div>
              </form>
              
        </div>
    </div>
</section>

<!--                                 Footer         -->
 <footer id="footer">
    <div class="container-fluid" style="margin-top:.5rem;">
        <div class="columns" style="margin-bottom:2rem;">
            <div class="column is-two-fifths" id="footerc1">
                <figure>
                    <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
                </figure>
                <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
                <div class="field has-addons" >
                    <div class="control is-expanded has-icons-left">
                        <form action="/email_list" method="post" style="display: flex; ">
                            <div id="formdiv" >
                                <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                            </div>
                        </form>
                    </div>
                  </div>
                <div style="display: inline-flex; flex-direction: row;">
                    <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                    <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                    <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                    <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                    <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
                </div>
            </div>
            <div class="column is-two-fifths" id="footerc3">
                <div class="columns is-mobile">
                    <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="column is-half">
                        <ul class="ful">Resources
                            <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                            <li><a href="/blog#section3">E-books</a></li>
                            <li><a href="/blog#career">Career-guidance</a></li>
                            <li><a href="/blog#section3">Helpful tools</a></li>
                             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
                <blockquote>
                    "Great things in business are never done by one person; they're done by a team of people."<br>
                    <cite>Steve Jobs</cite>
                </blockquote>
            </div>
        </div>
        <div id="footerend">
        <p>Friday Technologies and Systems. All rights reserved.</p>
        <p><a href="/privacy">Terms and conditions</a></p>
    </div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/114047c3df.js" crossorigin="anonymous" defer></script>
<script src="../static/js/combined.js"></script>
</body>
</html>