<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/new-index.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/portfolio_slider.css">
    <link rel="canonical" href="/index">
    <title>Your very own HR-department</title>
    <meta name="description" content="Every business needs competent, talented, workers. FRIDAY makes sure that every business is being taken care of by people who know what they are doing. We provide Skill-based Hiring services and we also replace your entire HR-department for very little cost.">
    <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '485510554197875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485510554197875&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>
<body style="overflow-x: hidden; font-family: 'Poppins';">
  <section class="hero ">
    <div class="hero-head" style="border-bottom: black solid 1px;">
        <nav class="navbar">
            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="../static/images/logo.webp" alt="Logo of FRIDAY technologies" height="35" style="max-height: unset;">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end" style="margin-left: auto;">
                <!-- Mega Dropdown: Solutions -->
                
                <!--Pricing-->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/hrpricing">
                    <span>Pricing</span>
                  </a>
                </span>
                <!-- Other Links -->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/about">
                    <span>Contact Us</span>
                  </a>
                </span>
                <!-- Regular Dropdowns -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/blog">Resources</a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="/blog#career">Career Guide</a>
                      <a class="navbar-item" href="/blog#articles">Blog Articles</a>
                      <a class="navbar-item" href="/blog#section3">E-books</a>
                      <a class="navbar-item" href="/blog#section3">Tools</a>
                    </div>
                </div>
                
                <span class="navbar-item">
                  <a class="button" href="https://jobs.thefridayhr.com" style="background-color: #f45025; color: #fff; border-radius:1rem; font-weight: 600;">
                    Need a job?
                  </a>
                </span>
              </div>
            
          </div>
        </nav>
  </div>
</div>
<div class="hero-body" style="padding: 1rem 2rem; flex-direction: column; ">
    <div class="container-fluid has-text-centered">
        <h1 id="s1h1">An <span class="text-gradient"> HR-Department</span> that actually does something!</h1>
        <p id="s1p1">FRIDAY provides an entire HR-department for just 30k/month.</p>
       <a href="#psect" style="all: unset;"> <button id="s1btn" style="--sal-duration: 1s;" data-sal="slide-up">Learn more</button></a>
    </div>
    <div class="slider-container">
        <div class="slider-content" id="slider">
          <div class="slider-item">Technology</div>
          <div class="slider-item">Healthcare</div>
          <div class="slider-item">Finance</div>
          <div class="slider-item">Education</div>
          <div class="slider-item">Hospitality</div>
          <div class="slider-item">Marketing</div>
          <div class="slider-item">Non-Profit</div>
          <div class="slider-item">Consultants</div>
        </div>
    </div>
</div>
</section>
<section style="background: #bc9df6;border-top-left-radius: 3rem;border-top-right-radius: 3rem;">
    <div class="container" style="padding: 2.5rem 1rem;">
        <div class="columns is-vcentered">
            <div class="column is-8">
                <h2 style="font-size: 2.5rem; font-weight: 700; line-height: 1.2; color: black;">Many business owners struggle to maintain a strong team.</h2>
                <ul style="color: black;font-weight: 500;list-style: disc;margin-left: 1rem;margin-top: 1.5rem;">
                    <li>No time to figure out what’s really going on with the team.</li>
                    <li>Not knowing how to handle HR terms or processes.</li>
                    <li>Struggling to pull all employee information together in one place.</li>
                    <li>Making decisions about the team without having the full picture.</li>
                    <li>No time to review and understand team performance metrics.</li>
                </ul>
            </div>
            <div class="column is-4" style="background-image: url(../static/newimgs/workplace-violence-taking-place-colleagues.jpg);
            min-height: 19rem;
            width: 23pc;
            border-radius: 2rem; background-repeat: no-repeat; background-size: cover;">
            </div>
        </div>
    </div>
    <div class="container" style="padding:2.5rem 3rems ;">
      <h2 style="font-size: 2.5rem; font-weight: 700; line-height: 1.2; color: black; text-align: center; margin-bottom: 2rem;">Here is how FRIDAY solves those problems</h2>
      <div class="columns">
      <div class="column is-half" style="background-image: url(../static/newimgs/people-working2.webp); background-repeat: no-repeat; background-size: cover;min-height: 15rem;">
    </div>
    <div class="column is-half has-text-left" style="margin-left: 2rem;">
        <div style="--sal-duration: 1.5s;" data-sal="slide-left">
        <h3 class="s2h3">Hiring and Onboarding</h3>
        <p>We do everything from job postings to interviews and onboarding. See your team building in real-time.</p>
         <br></div>
         <div style="--sal-duration: 1.5s;" data-sal="slide-left">
         <h3 class="s2h3">Oversee Attendance and Payroll</h3>
        <p>Given the complex nature of state laws, payroll could be a tricky thing for new founders, But don't worry, its our problem now.</p>
        <br></div>
        <div style="--sal-duration: 1.5s;" data-sal="slide-left">
        <h3 class="s2h3">Performance Management</h3>
        <p>You got the best people and you give them a lot of benefits, like retirement plans, health insurance etc. Who's managing all this?</p>
         <br></div>
        <div style="--sal-duration: 1.5s;" data-sal="slide-left">
        <h3 class="s2h3">Employee relations</h3>
        <p>You got the best people and you give them a lot of benefits, like retirement plans, health insurance etc. Who's managing all this?</p>
        <br></div> 
        </div>
    </div>    
    </div>
</section>
  
<section class="section" style="padding-bottom: 0rem;">
    <div class="container has-text-centered">
        <h2 id="s5h2">Why you should trust <span style="background: linear-gradient(to right, #6734cf, #f35025);
            -webkit-background-clip: text;
            color: transparent;"> FRIDAY?</span></h2>
        <div class="columns has-text-left">
            <div class="column is-4" data-sal="slide-left" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/3d-alarm.png" alt="">
                </figure>
                <h3 class="s5h3">Time</h3>
                <p class="s5p">Save hours per week by outsourcing hiring , payroll and legal stuff to the experts.</p>
            </div>
            <div class="column is-4" data-sal="slide-left" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/money.png" alt="">
                </figure>
                <h3 class="s5h3">Money</h3>
                <p class="s5p">FRIDAY makes you money by increasing productivity, reducing turnover, and creating a performance-oriented workplace.</p>
            </div>
            <div class="column is-4" data-sal="slide-left" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/philosophy.png" alt="">
                </figure>
                <h3 class="s5h3">Peace</h3>
                <p class="s5p">Have experts handle critical stuff, while you relax and watch the magic happen.</p>
            </div>
        </div>
    </div>
</section>

<section class="section" id="psect">
    <div class="container">
      <!-- Main Columns Group -->
       <h2 style="font-size:2.5rem; font-weight: 600; margin-bottom: 2rem; line-height: 1; text-align: center; color: black;">Get a complete HR department</h2>
      <div class="columns is-desktop" style="align-items: center;">
        <!-- First Column (66%) -->
        <div class="column is-8 bg1">

          <!-- Row 1: Two Columns -->
          <div class="columns">
            <div class="column bg2">
              <div class="inside-clm" style="background-color: #7f3dff;">
                <h3 class="h3ts"  style="color: aliceblue;">Recruitment & Hiring</h3>
                <p class="pts"  style="color: aliceblue;">This process involves identifying staffing needs, Managing job postings, screening candidates, and conducting interviews, and selecting the most suitable candidates.</p>
              </div>
            </div>
            <div class="column bg3">
              <div class="inside-clm" style="background-color: #f45025;">
                <h3 class="h3ts"  style="color: aliceblue;">Employee Onboarding</h3>
                <p class="pts"  style="color: aliceblue;">A structured onboarding program ensures that new employees are welcomed effectively, understand company policies, receive necessary training, and feel confident in their roles from day one.</p>
              </div>
            </div>
          </div>

          <!-- Row 2: One Column -->
          <div class="columns">
            <div class="column bg4">
              <div class="inside-clm" style="background-color: #54bf78;">
                <h3 class="h3ts">Training & Development</h3>
                <p class="pts">Continuous learning is essential for growth. This includes organizing workshops, offering online courses, providing leadership development programs, and ensuring employees have the skills needed to excel in their current and future roles.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Second Column (33%) -->
        <div class="column is-4 bg5">
          <div class="inside-clm" style="background-color: rgb(0, 0, 0); height: fit-content; padding-block: 5rem;" >
            <h3 class="h3ts"  style="color: aliceblue;">Performance Management</h3>
            <p class="pts"  style="color: aliceblue;"> Performance management involves setting clear expectations, monitoring progress, giving regular feedback, conducting performance reviews, and aligning individual goals with organizational objectives to drive productivity and employee growth.</p>
          </div>
        </div>
      </div>

      <!-- Bottom Row -->
      <div class="columns">
        <div class="column is-4 bg6">
          <div class="inside-clm" style="background-color: #ffdd4a;">
            <h3 class="h3ts">Payroll & Benefits Administration</h3>
            <p class="pts">Managing payroll includes processing salaries, bonuses, deductions, and compliance with tax regulations. Benefits administration covers health insurance, retirement plans, paid leaves, and other perks that support employee well-being and satisfaction.</p>
          </div>
        </div>
        <div class="column is-8 bg1">
          <div class="inside-clm" style="background-color: #2374db; padding-inline: 2rem;
    padding-block: 4rem;">
            <h3 class="h3ts" style="color: aliceblue;">Employee Relations</h3>
            <p class="pts"  style="color: aliceblue;">Fostering healthy relationships between employees and management is key. This includes handling grievances, promoting open communication, organizing team-building activities, and maintaining a respectful and inclusive workplace culture.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!--Portfolio Section--->
<section>
    <div class="container is-fluid">
        <div class="portfolio-slider">
            <div class="slide-track">
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/1.jpeg" alt="Logo of Metamorph">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/2.jpeg" alt="Logo of company2">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/3.jpeg" alt="Logo of sbd">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/4.jpg" alt="Logo of Cartswing">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/5.jpeg" alt="Logo of GS studios">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/6.png" alt="Logo of Drapezzi">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/7.jpg" alt="Logo of Verve">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/9.png" alt="Logo of Design Perfecto">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/10.png" alt="Logo of Metamorph">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/11.png" alt="Logo of company2">
                </div>
            </div>
        </div>
    </div>
</section>

  <section class="section" style="padding-top: 0rem;">
    <div class="container" style=" background-color: #fff; border-radius: 1.5rem;  border: black solid 1px;">
        <div class="container is-fluid has-text-centered" style="background-color: #bc9df6; border-radius: 1.5rem; ">
            <h2 id="s7h2">What people are saying</h2>
            <div class="columns ">
                <div class="column is-12-mobile is-4-tablet is-4-desktop " style="    border-right: #fff solid 1px;">
                    <p class="s7p1">FRIDAY do all the boring stuff like Payroll and i don’t even have to think about it.</p>
                    <p class="s7p2">Mr. Dildar Khan  <br>-CEO @ I.J Biomedicos</p>
                </div>
                <div class="column is-12-mobile is-4-tablet is-4-desktop" style="    border-right: #fff solid 1px;">
                    <p class="s7p1">My team is the backbone of my business and i can’t thank team FRIDAY enough, for brining it together.</p>
                    <p class="s7p2">Mr. Mahdi Hassan <br> -COO @ Ninetech Solutions</p>
                </div>
                <div class="column is-12-mobile is-4-tablet is-4-desktop" >
                    <p class="s7p1">Productivity has increased at least 20% since we onboarded with FRIDAY.</p>
                    <p class="s7p2">Ms. Hira Faiz <br>-Owner @ TriviaStudio</p>
                </div>
            </div>
        </div>
        <div class="columns" style="padding-block: 2rem;">
            <div class="column is-two-fifths">
                <h2 style="font-size: 2.8rem; font-weight: 300; line-height: 1.1; margin-left: 2rem; margin-right: 1rem; color: black; --sal-duration:1s;" data-sal="slide-up">We can make <u> <b> Your Team</b></u> your biggest assest!</h2>  
                <a href="https://calendly.com/thefridayhr/friday-s-hr-services" style="all: unset;"><button id="s7btn" data-sal="slide-up" style="--sal-duration: 1s;">Get free consultation!</button></a>
            </div>
            <div class="column is-three-fifths" style="padding-inline: 2rem;">
                <div class="box" id="sect4c2" style="background-image: url(../static/newimgs/last-photo.webp); background-repeat: no-repeat; background-size: cover; border-radius: 1.5rem; height: 17rem;">
                </div>
            </div>
        </div>
    </div>
</section>

<!--       Footer         -->
<footer id="footer">
    <div class="container-fluid" style="margin-top:.5rem;">
        <div class="columns" style="margin-bottom:2rem;">
            <div class="column is-two-fifths" id="footerc1">
                <figure>
                    <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
                </figure>
                <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
                <div class="field has-addons" >
                    <div class="control is-expanded has-icons-left">
                        <form action="/email_list" method="post" style="display: flex; ">
                            <div id="formdiv" >
                                <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                            </div>
                        </form>
                    </div>
                  </div>
                <div style="display: inline-flex; flex-direction: row;">
                    <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                    <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                    <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                    <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                    <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
                </div>
            </div>
            <div class="column is-two-fifths" id="footerc3">
                <div class="columns is-mobile">
                    <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="column is-half">
                        <ul class="ful">Resources
                            <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                            <li><a href="/blog#section3">E-books</a></li>
                            <li><a href="/blog#career">Career-guidance</a></li>
                            <li><a href="/blog#section3">Helpful tools</a></li>
                             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
                <blockquote>
                    "Great things in business are never done by one person; they're done by a team of people."<br>
                    <cite>Steve Jobs</cite>
                </blockquote>
            </div>
        </div>
        <div id="footerend">
        <p>Friday Technologies and Systems. All rights reserved.</p>
        <p><a href="/privacy">Terms and conditions</a></p>
    </div>
    </div>
</footer>

<script src="../static/js/popup.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleOptions = document.querySelectorAll('.toggle-option');
        const toggleHeadings = document.querySelectorAll('.toggle-heading');
        const toggleSections = document.querySelectorAll('.toggle-section');
    
        function toggleVisibility(targetId) {
            toggleSections.forEach(section => {
                if (section.id === targetId) {
                    section.classList.add('visible');
                } else {
                    section.classList.remove('visible');
                }
            });
        }

        toggleOptions.forEach(option => {
            option.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                toggleVisibility(targetId);
            });
        });

        toggleHeadings.forEach(heading => {
            heading.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                toggleVisibility(targetId);
            });
        });

        function switchSection() {
            let visibleIndex = -1;
            toggleSections.forEach((section, index) => {
                if (section.classList.contains('visible')) {
                    visibleIndex = index;
                }
            });
            const nextIndex = (visibleIndex + 1) % toggleSections.length;
            toggleVisibility(toggleSections[nextIndex].id);
        }

        setInterval(switchSection, 5000);
    });
</script>
<script src="../static/js/combined.js"></script>
<script src="../static/sal/sal.js"></script>
<script>
    sal({
        threshold: 0.5,
        once: false,
    });
</script>
<script src="https://kit.fontawesome.com/114047c3df.js" crossorigin="anonymous" defer></script>
<script src="../static/js/indexquiz.js"></script>

</body>
</html>