<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/portfolio_slider.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/sal/sal.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/mainpage1.css">
    <link rel="stylesheet" href="../static/css/indexquiz.css">
    <style>
        .question-group {
            display: none;
        }
        .question-group.active {
            display: block;
        }
    </style>
    <link rel="canonical" href="/index">
    <title>Your very own HR-department</title>
    <meta name="description" content="Every business needs competent, talented, workers. FRIDAY makes sure that every business is being taken care of by people who know what they are doing. We provide Skill-based Hiring services and we also replace your entire HR-department for very little cost.">
    <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '485510554197875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485510554197875&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
   
    <!-- End Meta Pixel Code -->
</head>
<body style="overflow-x: hidden; font-family: 'Poppins';">
    <section class="hero ">
        <div class="hero-head" style="border-bottom: black solid 1px;">
            <nav class="navbar">
                <!-- Navbar Brand -->
                <div class="navbar-brand">
                  <a class="navbar-item" href="/">
                    <img src="../static/images/logo.webp" alt="Logo of FRIDAY technologies" height="35" style="max-height: unset;">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </div>
                <!-- Navbar Menu -->
                <div id="navbarMenu" class="navbar-menu">
                  <div class="navbar-end" style="margin-left: auto;">
                    <!-- Mega Dropdown: Solutions -->
                    
                    <!--Pricing-->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/hrpricing">Pricing</a>
                        <div class="navbar-dropdown">
                          <a class="navbar-item" href="/hiringpricing">Hiring</a>
                          <a class="navbar-item" href="/hrpricing">HR Subscription</a>
                        </div>
                    </div>
                    <!-- Regular Dropdowns -->
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/blog">Resources</a>
                        <div class="navbar-dropdown">
                          <a class="navbar-item" href="/blog#career">Career Guide</a>
                          <a class="navbar-item" href="/blog#articles">Blog Articles</a>
                          <a class="navbar-item" href="/blog#section3">E-books</a>
                          <a class="navbar-item" href="/blog#section3">Tools</a>
                        </div>
                    </div>
                    <!-- Other Links -->
                    <span class="navbar-item">
                      <a class="button is-white is-outlined" href="/about">
                        <span>Contact Us</span>
                      </a>
                    </span>
                    <span class="navbar-item">
                      <a class="button" href="https://tally.so/r/nr04NL" style="background-color: #f45025; color: #fff; border-radius:1rem; font-weight: 600;">
                        Need a job?
                      </a>
                    </span>
                  </div>
                
              </div>
            </nav>
      </div>
    </div>
    <div class="hero-body" style="padding: 1rem 2rem; flex-direction: column; ">
        <div class="container">
            <h2 class=" has-text-centered" style="    font-size: 4rem;
            line-height: .81;
            font-weight: 500;
            letter-spacing: -3px;">Your Trusted <o style="background: linear-gradient(to right, #6734cf, #f35025);
                -webkit-background-clip: text;
                color: transparent;"> HR </o> Partner.</h2>
            <h3 style="text-align: center; font-size: 1.45rem; letter-spacing: -2p; line-height: 1; padding-bottom: 2.5rem;">Leave it to us to solve all your People Problems.</h3>
          <div class="columns is-multiline">
              <div class="column is-12 c2 has-text-centered" style="background-image:url('../static/newimgs/purple-watercolor-abstract-painting-paper.jpg'); background-size: cover; background-repeat: no-repeat; border-radius: 1.5rem;">
                <div id="quiz">
                    <div class="columns">
                        <div class="column is-4">
                            
                        </div>
                    </div>
                    <div id="question-container">
                      <div class="quiz-question" id="quiz-question"></div>
                      <div class="quiz-options" id="quiz-options"></div>
                    </div>
                    <div id="result-container" class="quiz-result" style="display: none;">
                      <h2 id="result-title"></h2>
                      <p id="result-description"></p>
                      <button onclick="restartQuiz()">Retake Quiz</button>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>
<!--Section-2-->
<section class="section">
<div class="container has-text-centered">
    <h2 id="s2h2">We build the team - <br> You build the business.</h2>
    <div class="columns">
        <div class="column is-half" style="background-image: url(../static/newimgs/people-working2.webp); background-repeat: no-repeat; background-size: cover;min-height: 15rem;">
        </div>
        <div class="column is-half has-text-left" style="margin-left: 2rem;">
            <div style="--sal-duration: 1.5s;" data-sal="slide-left">
            <h3 class="s2h3">Hiring and Onboarding</h3>
            <p>We do everything from job postings to interviews and onboarding. See your team building in real-time.</p>
             <br></div>
             <div style="--sal-duration: 1.5s;" data-sal="slide-left">
             <h3 class="s2h3">Process and manage Payroll</h3>
            <p>Given the complex nature of state laws, payroll could be a tricky thing for new founders, But don't worry, its our problem now.</p>
            <br></div>
            <div style="--sal-duration: 1.5s;" data-sal="slide-left">
            <h3 class="s2h3">Benefits Management</h3>
            <p>You got the best people and you give them a lot of benefits, like retirement plans, health insurance etc. Who's managing all this?</p>
             <br></div>
        </div>
    </div>
</div>
</section>
<!--Section-3-->
<section class="section" style="padding-top: 0rem;">
    <div class="container has-text-centered">
        <h2 id="s3h2">But wait, there's more.</h2>
        <div class="columns is-multiline" style="justify-content: center; align-items: center;">
            <div class="column is-3 s3clm" data-sal="slide-right" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/reputation.png" alt="Performance appreciation icon">
                </figure>
             Performance Management
            </div>
            <div class="column is-3 s3clm" data-sal="slide-up" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/seo-report.png" alt="">
                </figure>
                Insights and Reporting
            </div>
            <div class="column is-3 s3clm" data-sal="slide-left" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/conflict-of-interest.png" alt="">
                </figure>
                Conflict Resolution
            </div>
            <div class="column is-3 s3clm" data-sal="slide-right" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/customer-satisfaction.png" alt="">
                </figure>
                Employee Engagement
            </div>
            <div class="column is-3 s3clm" data-sal="slide-left" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/productivity.png" alt="">
                </figure>
                Productivity Enhancement
            </div>
        </div>
        <a href="https://calendly.com/thefridayhr/friday-s-hr-services" style="all: unset;"><button id="s3btn">Speak to an Expert</button></a>
    </div>
</section>
<!--Section-4-->
<section class="section" style="padding-top: 0rem;">
    <div class="container has-text-centered">
        <h2 id="s4h2">Your other options .....Suck</h2>
        <div class="columns " style="justify-content: center; font-weight: 500; font-size:1.25rem ; ">
            <div class="toggle-option column is-3" data-target="section-diy">Do it Yourself</div>
            <div class="toggle-option column is-3" data-target="section-consultant">Hire a consultant</div>
            <div class="toggle-option column is-3" data-target="section-hr">Hire HR-staff</div>
        </div>
        <div class="toggle-section  visible" id="section-diy"> <!--DIY section-->
            <div class="columns">
            <div class="column is-half" style="background-image: url(../static/flaticons/164580.jpg); background-size: cover; background-repeat: no-repeat; min-height: 15rem;">
            </div>
            <div class="column is-half has-text-left" style="margin-left: 2rem;">
                <h3 style="font-size: 1.7rem; font-weight: 700;padding-bottom: 1rem;">Do it Yourself</h3>
                <h3 class="s4h3">Time consuming</h3>
            <p class="s4p">Don't you have more important things to do as the CEO?</p>
         
            <h3 class="s4h3">Mistake Prone</h3>
            <p class="s4p">Your Lack of expertise will lead to mistakes.</p>
          
            <h3 class="s4h3">Expensive</h3>
            <p class="s4p">The cost of not growing your business is huge.</p>
           
            </div>
            </div>
        </div>
        <div class="toggle-section " id="section-consultant"> <!--Consultant section-->
            <div class="columns">
            <div class="column is-half" style="background-image: url(../static/flaticons/727.jpg); background-size: cover; background-repeat: no-repeat; min-height: 15rem;">
            </div>
            <div class="column is-half has-text-left" style="margin-left: 2rem;">
                <h3 style="font-size: 1.7rem; font-weight: 700; padding-bottom: 1rem;">Get a Consultant</h3>
                <h3 class="s4h3">Strategy oriented</h3>
            <p class="s4p">Consultants don't do the actual nitty gritty tasks.</p>
     
            <h3 class="s4h3">Lack of Scalability</h3>
            <p class="s4p">Lack of manpower to handle your HR needs as you scale.</p>
          
            <h3 class="s4h3">Expensive</h3>
            <p class="s4p">Good consultants are hard to find, and expensive.</p>
           
            </div>
            </div>
        </div>
        <div class="toggle-section " id="section-hr"> <!--Full-time HR section-->
            <div class="columns">
            <div class="column is-half" style="background-image: url(../static/flaticons/8906.jpg); background-size: cover; background-repeat: no-repeat; min-height: 15rem;">
            </div>
            <div class="column is-half has-text-left" style="margin-left: 2rem;">
                <h3 style="font-size: 1.7rem; font-weight: 700;padding-bottom: 1rem;">Hire Full-time</h3>
                <h3 class="s4h3">Expensive</h3>
            <p class="s4p">A good HR-resource will cost you upwards of 80-100k.</p>
         
            <h3 class="s4h3">Overkill</h3>
            <p class="s4p">Hiring dedicated personnel before you have at least 50 employees is a bit much.</p>
          
            <h3 class="s4h3">Managerial overload</h3>
            <p class="s4p">CEO will spend a lot of time discussing trivial maters.</p>
         
            </div>
            </div>
        </div>
    </div>
</section>


<!--Section-6-->
<section class="section" style="background-color: #bc9df6; padding-block: 1.5rem;" id="psect">
    <div class="container has-text-centered">
        <h2 id="s6h2">Lets talk about YOUR Needs</h2>
        <div class="columns has-text-left" style="justify-content: center;">
            <div class="column is-4 s6clmn" data-sal="flip-up" style="--sal-duration: 1s;">
                <h3 class="s6h3">Recruitment</h3>
                <p class="s6p">We don’t Hire, sorry.
                    Streamlined talent acquisition to find the perfect fit for your team, from executive to high-volume hiring.</p>
                    <a href="/hiringpricing" style="all: unset;"><button class="s6btn">View Pricing</button></a>
            </div>
            <div class="column is-4 s6clmn" id="hrclmn" data-sal="flip-up" style="--sal-duration: 1s;">
                <h3 class="s6h3">HR Subscription</h3>
                <p class="s6p">Comprehensive HR solutions to manage onboarding, compliance, and employee relations effectively.</p>
                <a href="/hrpricing" style="all: unset;"><button class="s6btn">View Pricing</button></a>
            </div>
            <div class="column is-4 s6clmn" data-sal="flip-up" style="--sal-duration: 1s;">
                <h3 class="s6h3">FridayHR (HRMS)</h3>
                <p class="s6p">Empower your team with intuitive HR software for attendance, leave, and performance management.</p>
                <a href="#" style="all: unset;"><button class="s6btn">Coming Soon</button></a>
            </div>
        </div>
    </div>
    
</section>

<!--Section-5-->
<section class="section" style="padding-bottom: 0rem;">
    <div class="container has-text-centered">
        <h2 id="s5h2">Why you should trust <span style="background: linear-gradient(to right, #6734cf, #f35025);
            -webkit-background-clip: text;
            color: transparent;"> FRIDAY?</span></h2>
        <div class="columns has-text-left">
            <div class="column is-4" data-sal="slide-left" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/3d-alarm.png" alt="">
                </figure>
                <h3 class="s5h3">Time</h3>
                <p class="s5p">Save hours per week by outsourcing hiring , payroll and legal stuff to the experts.</p>
            </div>
            <div class="column is-4" data-sal="slide-left" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/money.png" alt="">
                </figure>
                <h3 class="s5h3">Money</h3>
                <p class="s5p">FRIDAY makes you money by increasing productivity, reducing turnover, and creating a performance-oriented workplace.</p>
            </div>
            <div class="column is-4" data-sal="slide-left" style="--sal-duration: 1s;">
                <figure>
                    <img src="../static/flaticons/philosophy.png" alt="">
                </figure>
                <h3 class="s5h3">Peace</h3>
                <p class="s5p">Have experts handle critical stuff, while you relax and watch the magic happen.</p>
            </div>
        </div>
    </div>
</section>
<!--Portfolio Section--->
<section>
    <div class="container is-fluid">
        <div class="portfolio-slider">
            <div class="slide-track">
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/1.webp" alt="Logo of Metamorph">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/2.webp" alt="Logo of company2">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/3.webp" alt="Logo of sbd">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/4.webp" alt="Logo of Cartswing">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/5.webp" alt="Logo of GS studios">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/6.webp" alt="Logo of Drapezzi">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/7.webp" alt="Logo of Verve">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/8.webp" alt="Logo of Car-Care">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/9.webp" alt="Logo of Design Perfecto">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/1.webp" alt="Logo of Metamorph">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/2.webp" alt="Logo of company2">
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section-7-->
<section class="section" style="padding-top: 0rem;">
    <div class="container" style=" background-color: #fff; border-radius: 1.5rem;  border: black solid 1px;">
        <div class="container is-fluid has-text-centered" style="background-color: #6734cf; border-radius: 1.5rem; ">
            <h2 id="s7h2">See what people are saying</h2>
            <div class="columns ">
                <div class="column is-12-mobile is-4-tablet is-4-desktop " style="    border-right: #fff solid 1px;">
                    <p class="s7p1">FRIDAY do all the boring stuff like Payroll and i don’t even have to think about it.</p>
                    <p class="s7p2">Mr. Dildar Khan  <br>-CEO @ I.J Biomedicos</p>
                </div>
                <div class="column is-12-mobile is-4-tablet is-4-desktop" style="    border-right: #fff solid 1px;">
                    <p class="s7p1">My team is the backbone of my business and i can’t thank team FRIDAY enough, for brining it together.</p>
                    <p class="s7p2">Mr. Mahdi Hassan <br> -COO @ Ninetech Solutions</p>
                </div>
                <div class="column is-12-mobile is-4-tablet is-4-desktop" >
                    <p class="s7p1">Productivity has increased at least 20% since we onboarded with FRIDAY.</p>
                    <p class="s7p2">Ms. Hira Faiz <br>-Owner @ TriviaStudio</p>
                </div>
            </div>
        </div>
        <div class="columns" style="padding-block: 2rem;">
            <div class="column is-two-fifths">
                <h2 style="font-size: 2.8rem; font-weight: 300; line-height: 1.1; margin-left: 2rem; margin-right: 1rem; color: black; --sal-duration:1s;" data-sal="slide-up">We can make <u> <b> Your Team</b></u> your biggest assest!</h2>  
                <a href="https://calendly.com/thefridayhr/friday-s-hr-services" style="all: unset;"><button id="s7btn" data-sal="slide-up" style="--sal-duration: 1s;">Get free consultation!</button></a>
            </div>
            <div class="column is-three-fifths" style="padding-inline: 2rem;">
                <div class="box" id="sect4c2" style="background-image: url(../static/newimgs/last-photo.webp); background-repeat: no-repeat; background-size: cover; border-radius: 1.5rem; height: 17rem;">
                </div>
            </div>
        </div>
    </div>
</section>

<!--                                 Footer         -->
<footer id="footer">
    <div class="container-fluid" style="margin-top:.5rem;">
        <div class="columns" style="margin-bottom:2rem;">
            <div class="column is-two-fifths" id="footerc1">
                <figure>
                    <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
                </figure>
                <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
                <div class="field has-addons" >
                    <div class="control is-expanded has-icons-left">
                        <form action="/email_list" method="post" style="display: flex; ">
                            <div id="formdiv" >
                                <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                            </div>
                        </form>
                    </div>
                  </div>
                <div style="display: inline-flex; flex-direction: row;">
                    <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                    <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                    <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                    <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                    <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
                </div>
            </div>
            <div class="column is-two-fifths" id="footerc3">
                <div class="columns is-mobile">
                    <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="column is-half">
                        <ul class="ful">Resources
                            <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                            <li><a href="/blog#section3">E-books</a></li>
                            <li><a href="/blog#career">Career-guidance</a></li>
                            <li><a href="/blog#section3">Helpful tools</a></li>
                             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
                <blockquote>
                    "Great things in business are never done by one person; they're done by a team of people."<br>
                    <cite>Steve Jobs</cite>
                </blockquote>
            </div>
        </div>
        <div id="footerend">
        <p>Friday Technologies and Systems. All rights reserved.</p>
        <p><a href="/privacy">Terms and conditions</a></p>
    </div>
    </div>
</footer>

<script src="../static/js/popup.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toggleOptions = document.querySelectorAll('.toggle-option');
        const toggleHeadings = document.querySelectorAll('.toggle-heading');
        const toggleSections = document.querySelectorAll('.toggle-section');
    
        function toggleVisibility(targetId) {
            toggleSections.forEach(section => {
                if (section.id === targetId) {
                    section.classList.add('visible');
                } else {
                    section.classList.remove('visible');
                }
            });
        }

        toggleOptions.forEach(option => {
            option.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                toggleVisibility(targetId);
            });
        });

        toggleHeadings.forEach(heading => {
            heading.addEventListener('click', function () {
                const targetId = this.getAttribute('data-target');
                toggleVisibility(targetId);
            });
        });

        function switchSection() {
            let visibleIndex = -1;
            toggleSections.forEach((section, index) => {
                if (section.classList.contains('visible')) {
                    visibleIndex = index;
                }
            });
            const nextIndex = (visibleIndex + 1) % toggleSections.length;
            toggleVisibility(toggleSections[nextIndex].id);
        }

        setInterval(switchSection, 5000);
    });
</script>
<script src="../static/js/combined.js"></script>
<script src="../static/sal/sal.js"></script>
<script>
    sal({
        threshold: 0.5,
        once: false,
    });
</script>
<script src="https://kit.fontawesome.com/114047c3df.js" crossorigin="anonymous" defer></script>
<script src="../static/js/indexquiz.js"></script>

</body>
</html>