<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-4KFHLY0BKF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4KFHLY0BKF');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/portfolio_slider.css">
    <link rel="stylesheet" href="../static/css/mainpage1.css">
    <link rel="stylesheet" href="../static/css/vacancysection.css">
    <link rel="stylesheet" href="../static/sal/sal.css">
    <link rel="stylesheet" href="../static/css/popup.css">
    <link rel="canonical" href="/index">
    <title>FRIDAY builds and manages killer teams for businesses that matter</title>
    <meta name="description" content="Every business needs competent, talented, workers. FRIDAY makes sure that every business is being taken care of by people who know what they are doing. We provide Skill-based Hiring services and we also replace your entire HR-department for very little cost.">
    <!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '485510554197875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485510554197875&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3641153989487559');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3641153989487559&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body style="overflow-x: hidden; font-family: 'Poppins';">
    <section class="hero ">
        <div class="hero-head" style="border-bottom: black solid 1px;">
          <div class="container" >
            <nav class="navbar" >
              <div class="container" >
                  <div class="navbar-brand">
                      <a class="navbar-item" href="/" >
                          <img src="../static/images/logo.webp" alt="Logo of FRIDAY technologies" height="250" width="100" style="max-height: unset;" height="35" width="100">
                      </a>
                      <span class="navbar-burger burger" data-target="navbarMenu">
                          <span></span>
                          <span></span>
                          <span></span>
                      </span>
                  </div>
                  <div id="navbarMenu" class="navbar-menu">
                      <div class="navbar-end" style="margin-left: auto;
                      margin-right: unset;">
                          <span class="navbar-item has-dropdown is-hoverable">
                              <a class="navbar-link" href="/index">
                                  For Businesses
                              </a>
                                  <div class="navbar-dropdown is-boxed">
                                      <a class="navbar-item" href="/jobseekers">
                                          <span>For jobseekers</span>
                                      </a>         
                                  </div>
                          </span>
                          <span class="navbar-item">
                            <a class="button is-white is-outlined" href="/services">    
                                <span>Services</span>
                            </a>
                          </span>
                          <span class="navbar-item">
                            <a class="button is-white is-outlined" href="/vacancies">    
                                <span>Vacancies</span>
                            </a>
                          </span>
                          <span class="navbar-item has-dropdown is-hoverable">
                          <a class="navbar-link" href="/blog">
                            Resources
                          </a>
                          <div class="navbar-dropdown is-boxed">
                              <a class="navbar-item" href="/blog#career">
                                  <span>Career Guide</span>
                              </a>
                              <a class="navbar-item" href="/blog#articles">
                                  <span>Blog Articles</span>
                              </a>
                              <a class="navbar-item" href="/blog#section3">
                                  <span>E-books</span>
                              </a>
                              <a class="navbar-item" href="/blog#section3">
                                  <span>Tools</span>
                              </a>
                          </div>
                        </span>
                            <span class="navbar-item">
                              <a class="button is-white is-outlined" href="/about">    
                                  <span>Contact Us</span>
                              </a>
                            </span>
                          <span class="navbar-item">
                              <a class="button" href="/form" style="background-color: #864def; color: #fff; border-radius:1rem; font-weight: 600;"> 
                                  Sign Up!
                              </a>
                          </span>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
    </div>
    <div class="hero-body" style="padding: 1rem 2rem; flex-direction: column; ">
        <div class="container-fluid custom-container">
            <div class="columns ">
                <div class="column hero_column is-half " id="heroc1">
                    <div id="herodiv1" >
                    <h1 id="heroh1" style="color: black; --sal-duration:1s;" data-sal="slide-up">
                        Everything you need to <o style="font-weight: 600; text-decoration: underline;">Hire and retain talent<o>
                    </h1>
                    <p id="herop1" >Friday provides end-to-end hiring and Managed HR services, so that you can focus on what really matters, your business!</p>
                   <a href="https://wa.me/923279024800" style="all: unset;"><button id="btn1" style="--sal-duration:1s;" data-sal="slide-right"> Get in touch </button></a>
                    </div>
                </div>
                <div class="column hero_column is-half " id="heroc2" style="--sal-duration:1s;" data-sal="slide-left">
                </div>
            </div>
        </div>
        <div class="slider-container">
            <div class="slider-content" id="slider">
              <div class="slider-item">Technology</div>
              <div class="slider-item">Healthcare</div>
              <div class="slider-item">Finance</div>
              <div class="slider-item">Education</div>
              <div class="slider-item">Hospitality</div>
              <div class="slider-item">Manufacturing</div>
              <div class="slider-item">Non-Profit</div>
              <div class="slider-item">Consultants</div>
            </div>
        </div>
    </div>
</section>
<!--                   Services section   -->

<section class="section has-text-centered" style="background: linear-gradient(180deg,#6734cf,#fff); ">
    <h2 style="font-size: 2.3rem; font-weight: 500; color: #fff; margin-bottom: 2rem; margin-top: -2rem;">
        What we do?
    </h2>
    <div class="container" >
        <div class="columns  " style="justify-content: space-around;">
            <div class="column sbox" style="--sal-duration:1s;" data-sal="slide-up">
                <figure>
                    <img src="../static/services/headhunting.webp" alt="icon for headhunting" srcset="">
                </figure>
                <h3>Headhunting</h3>
                <p>Identifying and recruiting top talent for key positions.</p>
            </div>
            <div class="column sbox" style="--sal-duration:1s;" data-sal="slide-up">
                <figure>
                    <img src="../static/services/recruitment.webp" alt="icon for recruitment" srcset="">
                </figure>
                <h3>Recruitment</h3>
                <p>Sourcing, screening, and selecting candidates for job openings.</p>
            </div>
            <div class="column sbox" style="--sal-duration:1s;" data-sal="slide-up">
                <figure>
                    <img src="../static/services/onboarding.webp" alt="icon for onboarding" srcset="">
                </figure>
                <h3>Onboarding</h3>
                <p>Introducing new employees to the company and its culture.</p>
            </div>
        </div>
        <div class="columns " style="justify-content: space-around;">
            <div class="column sbox" style="--sal-duration:1s;" data-sal="slide-up">
                <figure>
                    <img src="../static/services/hradmin.webp" alt="icon for hradmin" srcset="">
                </figure>
                <h3>HR Administration</h3>
                <p>Handling administrative HR tasks such as paperwork and records.</p>
            </div>
            <div class="column sbox" style="--sal-duration:1s;" data-sal="slide-up">
                <figure>
                    <img src="../static/services/orgstructure.webp" alt="icon for orgstructure" srcset="">
                </figure>
                <h3>Organizational Design</h3>
                <p> Structuring the company for maximum efficiency and effectiveness.</p>
            </div>
            <div class="column sbox" style="--sal-duration:1s;" data-sal="slide-up">
                <figure>
                    <img src="../static/services/legal.webp" alt="icon for legal" srcset="">
                </figure>
                <h3>HR legal Compliance</h3>
                <p> Ensuring HR practices adhere to legal and regulatory standards.</p>
            </div>
        </div>
        <div class="columns  " style="justify-content: space-around;">
            <div class="column sbox" style="--sal-duration:1s;" data-sal="slide-up">
                <figure>
                    <img src="../static/services/payroll.webp" alt="icon for payroll" srcset="">
                </figure>
                <h3>Payroll management</h3>
                <p>Handling employee payments, taxes, and benefits.</p>
            </div>
            <div class="column sbox" style="--sal-duration:1s;" data-sal="slide-up">
                <figure>
                    <img src="../static/services/performance.webp" alt="icon for performance" srcset="">
                </figure>
                <h3>Performance Management</h3>
                <p> Evaluating and improving employee performance.</p>
            </div>
            <div class="column sbox" style="--sal-duration:1s;" data-sal="slide-up">
                <figure>
                    <img src="../static/services/training.webp" alt="icon for training" srcset="">
                </figure>
                <h3>Employee Trainings</h3>
                <p>Providing ongoing education and growth opportunities.</p>
            </div>
            
        </div>
    </div>
</section>
<div id="popup-container">
    <div id="popup-box">
        <span id="close-button">&times;</span>
        <div class="columns " style="justify-content: center;align-items: center;align-content: center;">
            <div class="column is-half" id="popupclmn1">

            </div>
            <div class="column is-half has-text-centered">
                <h2 id="popuph2"> Surfing the web is not helping your business!</h2>
                <p id="popupp">But <b> optimizing employee performance </b> might, and <u> our consultation can help with that.</u></p>
                <button id="popupbtn"><a href="https://wa.me/923279024800" style="all: unset;">Get free Consultation</a></button>
            </div>
        </div>
        
    </div>
</div>
<!--                  Section-1      -->
<section class="section">
    <div class="container has-text-centered">
        <h1 style=" font-size: 2.65rem; margin-bottom: 1rem; font-weight: bold;">Our services</h1>
        <div class="columns has-text-left" >
            <div class="colummn is-half" id="section1clmn1" style="--sal-duration:1s;" data-sal="slide-right">
                <div class="box section1box" >
                <h2 class="section1h1">Skill-based hiring</h2>
                <div class="columns is-mobile">
                    <div class="column is-half" style="flex: 1;">
                        <p class="section1p">
                            Everything from JDs to interviews and onboarding.
                        </p>
                        <a href="/services#hiring" target="_blank" style="all: unset;"><button class="section1btn">Learn more</button></a>
                    </div>
                    <div class="column is-half section1img" style="background-image: url(../static/newimgs/smiling\ girl.webp); ">
                    </div>
                </div>
                </div>
            </div>
            <div class="colummn is-half" style="--sal-duration:1s;" data-sal="slide-left">
                <div class="box section1box">
                <h2 class="section1h1">Fully Managed-HR</h2>
                <div class="columns is-mobile">
                    <div class="column is-half" style="flex: 1;">
                        <p class="section1p">
                            Outsource your entire HR department to us, for a fraction of cost!
                        </p>
                       <a href="/services#hr" target="_blank" style="all: unset;"> <button class="section1btn">Learn more</button></a>
                    </div>
                    <div class="column is-half section1img" style="background-image: url(../static/newimgs/smiling\ girl.webp);">
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container has-text-centered">
        <h2 id="section1container2h1" style="font-weight: bold;">Benefits of Managed-HR </h2>
        <div class="columns" id="section1container2div1">
            <div class="column is-half-mobile" >
                <div class="columns is-mobile has-text-left sect1cont2c1" >
                    <div class="column is-one-third">
                        <figure style="width: 54px; height: 54px;">
                            <img src="../static/newimgs/icon1.webp" alt="">
                        </figure>
                    </div>
                    <div class="column is-two-thirds">
                        <p  class="sect1cont2p">70% cheaper than hiring an expert</p>
                    </div>
                </div>
            </div>
            <div class="column is-half-mobile " >
                <div class="columns is-mobile has-text-left sect1cont2c1">
                    <div class="column is-one-third">
                        <figure style="width: 54px; height: 54px;">
                            <img src="../static/newimgs/icon2.webp" alt="">
                        </figure>
                    </div>
                    <div class="column is-two-thirds sect1cont2c1">
                        <p class="sect1cont2p">Certified legal professionals for contracts</p>
                    </div>
                </div>
            </div>
            <div class="column is-half-mobile " >
                <div class="columns is-mobile has-text-left sect1cont2c1">
                    <div class="column is-one-third">
                        <figure style="width: 54px; height: 54px;">
                            <img src="../static/newimgs/icon3.webp" alt="">
                        </figure>
                    </div>
                    <div class="column is-two-thirds">
                        <p class="sect1cont2p">Tax Consultants for payroll processing</p>
                    </div>
                </div>
            </div>
            <div class="column is-half-mobile " >
                <div class="columns is-mobile has-text-left sect1cont2c1">
                    <div class="column is-one-third">
                        <figure style="width: 54px; height: 54px;">
                            <img src="../static/newimgs/icon4.webp" alt="">
                        </figure>
                    </div>
                    <div class="column is-two-thirds">
                        <p class="sect1cont2p">Convenient, Reliable and Scalable!</p>
                    </div>
                </div>
            </div>
        </div>
        <a href="/services#hr" style="all: unset;"><button id="sect1cont2btn">View Pricing</button></a>
    </div>
</section>

<!--                                          Section-2     -->
<section class="section">
    <div class="container sect2cont1" >
        <div class="columns">
            <div class="column is-half">
                <h2 style="font-size: 3.44rem; margin-top: 1rem; margin-left: 2rem; margin-right: 4rem; line-height: 1.1; color: #fff;--sal-duration:1s;" data-sal="slide-down">
                    <b>Why <br> FRIDAY?</b>
                </h2>
                <p style="margin-left: 2rem; font-size: 1.15rem; color: #fff;--sal-duration:1s;" data-sal="slide-down">With our tech-powered system, wide candidate pool and streamlined process, we can make the entire hiring process a breeze for you!</p>
                <a href="/services#hiring" style="all: unset;"><button style="margin-top: 1rem; margin-left: 2rem; height: 3.5rem; width: 14rem; border-radius: 1.15rem; background-color: #fff; font-size: 2rem; color: #864def; font-weight: bold; padding-bottom: 0.5rem;--sal-duration:1s;" data-sal="slide-up">Hire for us</button></a>
            </div>
            <div class="column is-half" style="padding: 2rem;">
                <div class="columns is-multiline">
                    <div class="column is-half" style="--sal-duration:1s;" data-sal="slide-down">
                        <div class="box" style="border-radius: 1.15rem; height: auto; width: auto; display: flex; flex-direction: column;align-items: center;">
                            <figure style="width: 64px; height: 64px;">
                                <img src="../static/newimgs/icon5.webp" alt="icon of savings">
                            </figure>
                            <p class="sect1cont2p">Affordable, cost effective in the long run.</p>
                        </div>
                    </div>
                    <div class="column is-half" style="--sal-duration:1s;" data-sal="slide-down">
                        <div class="box" style="border-radius: 1.15rem; display: flex; flex-direction: column;align-items: center;">
                            <figure style="width: 64px; height: 64px;">
                                <img src="../static/newimgs/icon6.webp" alt="icon of job-readiness>
                            </figure>
                            <p class="sect1cont2p">Hiring based on job-readiness, not CVs.</p>
                        </div>
                    </div>
                    <div class="column is-half" style="--sal-duration:1s;" data-sal="slide-down">
                        <div class="box" style="border-radius: 1.15rem; display: flex; flex-direction: column;align-items: center;">
                            <figure style="width: 64px; height: 64px;">
                                <img src="../static/newimgs/icon7.webp" alt="icon of Time-savings">
                            </figure>
                            <p class="sect1cont2p">Minimal Time-to-Hire, low turnout ratio.</p>
                        </div>
                    </div>
                    <div class="column is-half" style="--sal-duration:1s;" data-sal="slide-down">
                        <div class="box" style="border-radius: 1.15rem; display: flex; flex-direction: column;align-items: center;">
                            <figure style="width: 64px; height: 64px;">
                                <img src="../static/newimgs/icon8.webp" alt="icon of support">
                            </figure>
                            <p class="sect1cont2p">Post-hire support, 24/7, 365.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--                                               Vacancies section -->
<section class="section has-text-centered" style="background-color: #f45025;">
    <div class="container" >
        <h2 style="font-size: 2rem; font-weight: 600; color: #fff; margin-top: -2rem; line-height: 1.1;">Available vacancies</h2>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="vacancy " style="--sal-duration:1s;" data-sal="slide-up">
                <div class="columns is-mobile " style="padding-bottom: 1.3rem;">
                    <div class="column is-5 has-text-left">
                        <h2 class="vh1">
                            Graphic Designer
                        </h2>
                        <p class="vp">
                            Remote. Pakistan. <br> Full time
                        </p>
                    </div>
                    <div class="column is-4 has-text-left vclmn2">
                        <ul class="vul" >
                            <li>2+ years of exp</li>
                            <li>Competitive salary</li>
                            <li>Flexible timings</li>
                            <li>Urgent Hiring</li>
                        </ul>
                    </div>
                    <div class="column is-3 has-text-left" style="display: flex; flex-direction: column; align-items: flex-end; justify-content: center; padding-right: 2rem;">
                        <button class="vb1">
                            <u>Details</u>
                        </button>
                        <a href="/jobpost6" style="all: unset;"><button type="submit" class="vb2 applyButton"> Apply for the role</button></a>
                    </div>
                </div>
            </div>
            <div class="vacancy " style="--sal-duration:1s;" data-sal="slide-up">
                <div class="columns is-mobile " style="padding-bottom: 1.3rem;">
                    <div class="column is-5 has-text-left">
                        <h2 class="vh1">
                            Python Web Developer
                        </h2>
                        <p class="vp">
                            Hybrid. Pakistan. <br> Full time
                        </p>
                    </div>
                    <div class="column is-4 has-text-left vclmn2">
                        <ul class="vul" >
                            <li>5+ years of exp</li>
                            <li>Competitive salary</li>
                            <li>Flexible timings</li>
                            <li>Urgent Hiring</li>
                        </ul>
                    </div>
                    <div class="column is-3 has-text-left" style="display: flex; flex-direction: column; align-items: flex-end; justify-content: center; padding-right: 2rem;">
                        <button class="vb1">
                            <u>Details</u>
                        </button>
                        <a href="/jobpost5" style="all: unset;"><button type="submit" class="vb2 applyButton"> Apply for the role</button></a>
                    </div>
                </div>
            </div>
            <div class="vacancy " style="--sal-duration:1s;" data-sal="slide-up">
                <div class="columns is-mobile " style="padding-bottom: 1.3rem;">
                    <div class="column is-5 has-text-left">
                        <h2 class="vh1">
                            Data Analyst
                        </h2>
                        <p class="vp">
                            Remote. Pakistan. <br> Full time
                        </p>
                    </div>
                    <div class="column is-4 has-text-left vclmn2">
                        <ul class="vul">
                            <li>2+ years of exp</li>
                            <li>Competitive salary</li>
                            <li>Flexible timings</li>
                            <li>Urgent Hiring</li>
                        </ul>
                    </div>
                    <div class="column is-3 has-text-left" style="display: flex; flex-direction: column; align-items: flex-end; justify-content: center; padding-right: 2rem;">
                        <button class="vb1">
                            <u>Details</u>
                        </button>
                        <a href="/jobpost4" style="all: unset;"><button type="submit" class="vb2 applyButton"> Apply for the role</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container is-fluid vbuttons" style="display: inline-flex; flex-direction: row; justify-content: center; margin-top: 1.2rem;">
            <a href="/vacancies" class="button">
                View All</a>
            <a href="/form" class="button">
                Sign-up
            </a>

        </div>
    </div>
</section>

<section>
    <div class="container is-fluid">
        <div class="portfolio-slider">
            <div class="slide-track">
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/1.webp" alt="Logo of Metamorph">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/2.webp" alt="Logo of company2">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/3.webp" alt="Logo of sbd">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/4.webp" alt="Logo of Cartswing">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/5.webp" alt="Logo of GS studios">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/6.webp" alt="Logo of Drapezzi">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/7.webp" alt="Logo of Verve">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/8.webp" alt="Logo of Car-Care">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/9.webp" alt="Logo of Design Perfecto">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/1.webp" alt="Logo of Metamorph">
                </div>
                <div class="portfolio-slide">
                    <img src="../static/Friday_Portfolio_Logos/2.webp" alt="Logo of company2">
                </div>
            </div>
        </div>
    </div>
</section>
<!--                                              Section-3   -->
<section class="section" style="padding-top: 0rem;">
    <div class="container has-text-left">
        <div class="columns">
            <div class="column is-one-third">
                <h2 style="font-size: 2.6rem; line-height: 0.85; margin-left: 1rem; letter-spacing: -1px;">
                    Invest in your <b>Human Resources</b>
                </h2>
                <ul style="font-size: 1.3rem; line-height: 1; letter-spacing: -1px; margin-top: 1rem; margin-left: 1rem; list-style: inside; font-weight: 500;">
                    <li> Loyal employees</li>
                    <li> Business growth</li>
                    <li> Thriving company culture</li>
                    <li> Productive workplace</li>
                </ul>
               <a href="/services#hr" style="all: unset;"><button id="sect1cont2btn" style="margin-top: 1rem; margin-left: 1rem; padding-bottom: 0.5rem;">View Pricing</button></a>
            </div>
            <div class="column is-two-thirds" style="background-image: url(../static/newimgs/people-working2.webp); background-repeat: no-repeat; background-size: cover; height: 350px; border-radius: 1.5rem;">
            </div>
        </div>
        <div class="columns">
            <div class="column is-half" style="display: flex; flex-direction: column;">
                <div class="post" style="--sal-duration:1s;" data-sal="slide-right">
                    <a href="/Why_Pakistan_is_the_Top_Choice_for_Remote_Talent" target="_blank" style="all: unset;"><p>
                    See why Pakistan is a top choice for IT-TALENT
                    </p></a>
                </div>
                <div class="post" style="--sal-duration:1s;" data-sal="slide-right">
                    <a href="/real_worl_projects_in_hiring" target="_blank" style="all: unset;"><p>
                    Skill-based Hiring can help you build an amazing team
                    </p></a>
                </div>
            </div>
            <div class="column is-half" style="--sal-duration:1s;" data-sal="slide-left">
                <div class="post">
                    <a href="/benefits_of_hiring_agency" target="_blank" style="all: unset;"><p>
                        Role of a hiring agency in driving business success
                        </p></a>
                </div>
                <div class="post" style="--sal-duration:1s;" data-sal="slide-left">
                    <a href="/pros_and_cons_of_remote_workers" target="_blank" style="all: unset;"><p>
                        Pros and Cons of hiring remote workers
                        </p></a>
                </div>
            </div>
        </div>
        <div class="container has-text-centered">
            <a href="/blog" style="all: unset;"><button id="blogbtn">Read Blog</button></a>
        </div>
    </div>
</section>
<!--                                           Section-4     -->
<section class="section" style="padding-top: 0rem;">
    <div class="container" style=" background-color: #6734cf; border-radius: 1.5rem;  border: #6734cf solid 2px;">
        <div class="container is-fluid has-text-centered" style="background-color: #fff; border-radius: 1.5rem; ">
            <h2 style="font-size: 2rem; font-weight: 600; margin-bottom: 1.5rem; line-height: 1.1; --sal-duration:1s;" data-sal="slide-down">See what people are saying</h2>
            <div class="columns reviews ">
                <div class="column is-12-mobile is-4-tablet is-4-desktop" style="--sal-duration:1s;" data-sal="slide-up">
                    <div class="rbox">
                        <p style="padding: 1.5rem 1.5rem 0.5rem 1.5rem;">We have found Friday to be highly professional, meeting our recruitment needs and expectations promptly. Friday has successfully sourced some of our key positions, and we look forward to maintaining a long-term relationship with them in the future.
                        </p>
                        <div class="columns is-gapless is-mobile has-text-left" style="display: inline-flex; flex-direction: row; border-top: black solid 1px; padding-top: 1rem;">
                            <div class="column is-3">
                                <figure >
                                    <img src="../static/newimgs/logo1.png" alt=" Logo of QuickWin Technologies" srcset="" style="height: 50px; width: 50px; border-radius:2rem; margin-right: 1rem;">
                                </figure>
                            </div>
                            <div class="column is-9">
                                <h2 style="padding-left:.25rem; padding-top: .5rem;">QuickWin Technologies</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-12-mobile is-4-tablet is-4-desktop" style="--sal-duration:1s;" data-sal="slide-up">
                    <div class="rbox">
                        <p style="padding: 1.5rem 1.5rem 0.5rem 1.5rem;">Working with Friday has been a relief for our team. Their legal compliance services ensure that our employees are onboarded following all regional laws and regulations, giving us peace of mind knowing that we are fully compliant.
                        </p>
                        <div class="columns is-gapless is-mobile has-text-left" style="display: inline-flex; flex-direction: row; border-top: black solid 1px; padding-top: 1rem;">
                            <div class="column is-3">
                                <figure >
                                    <img src="../static/newimgs/logo2.png" alt="Logo of BrightSide Technologies" srcset="" style="height: 50px; width: 50px; border-radius:2rem; margin-right: 1rem;">
                                </figure>
                            </div>
                            <div class="column is-9">
                                <h2 style="padding-left:.25rem; padding-top: .5rem;">BrightSide Technologies</h2>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="column is-12-mobile is-4-tablet is-4-desktop" style="--sal-duration:1s;" data-sal="slide-up">
                    <div class="rbox">
                        <p style="padding: 1.5rem 1.5rem 0.5rem 1.5rem;">When we started out, Friday helped us meet our challenges by securing top talent in a competitive market. Their responsiveness and dedication to our needs were exceptional, and we look forward to continuing our partnership with them.
                        </p>
                        <div class="columns is-gapless is-mobile has-text-left" style="display: inline-flex; flex-direction: row; border-top: black solid 1px; padding-top: 1rem;">
                            <div class="column is-3">
                                <figure >
                                    <img src="../static/newimgs/logo3.png" alt="Logo of VisionCraft Studios" srcset="" style="height: 50px; width: 50px; border-radius:2rem; margin-right: 1rem;">
                                </figure>
                            </div>
                            <div class="column is-9">
                                <h2 style="padding-left:.25rem; padding-top: .5rem;">VisionCraft Studios</h2>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="columns" style="padding-block: 2rem;">
            <div class="column is-two-fifths">
                <h2 style="font-size: 2.8rem; font-weight: 300; line-height: 1.1; margin-left: 2rem; margin-right: 1rem; color: #fff;">We manage <u> <b> Hiring and HR</b></u> for all kinds of businesses!</h2>  
                <a href="https://wa.me/923279024800" style="all: unset;"><button id="consultbtn">Get free consultation!</button></a>
            </div>
            <div class="column is-three-fifths" style="padding-inline: 2rem;">
                <div class="box" id="sect4c2" style="background-image: url(../static/newimgs/last-photo.webp); background-repeat: no-repeat; background-size: cover; border-radius: 1.5rem; height: 17rem;">
                </div>
            </div>
        </div>
    </div>
</section>

<!--                                 Footer         -->
 <footer id="footer">
    <div class="container-fluid" style="margin-top:.5rem;">
        <div class="columns" style="margin-bottom:2rem;">
            <div class="column is-two-fifths" id="footerc1">
                <figure>
                    <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
                </figure>
                <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
                <div class="field has-addons" >
                    <div class="control is-expanded has-icons-left">
                        <form action="/email_list" method="post" style="display: flex; ">
                            <div id="formdiv" >
                                <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                            </div>
                        </form>
                    </div>
                  </div>
                <div style="display: inline-flex; flex-direction: row;">
                    <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                    <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                    <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                    <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                    <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
                </div>
            </div>
            <div class="column is-two-fifths" id="footerc3">
                <div class="columns is-mobile">
                    <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="column is-half">
                        <ul class="ful">Resources
                            <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                            <li><a href="/blog#section3">E-books</a></li>
                            <li><a href="/blog#career">Career-guidance</a></li>
                            <li><a href="/blog#section3">Helpful tools</a></li>
                             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
                <blockquote>
                    "Great things in business are never done by one person; they're done by a team of people."<br>
                    <cite>Steve Jobs</cite>
                </blockquote>
            </div>
        </div>
        <div id="footerend">
        <p>Friday Technologies and Systems. All rights reserved.</p>
        <p><a href="/privacy">Terms and conditions</a></p>
    </div>
    </div>
</footer>
<script src="https://kit.fontawesome.com/114047c3df.js" crossorigin="anonymous" defer></script>
<script>
    // Function to update button text based on viewport size and button class
    function updateButtonText() {
      var buttons = document.querySelectorAll('.applyButton');
      buttons.forEach(function(button) {
        if (window.innerWidth <= 768) {
          button.textContent = 'Apply';
        } else {
          button.textContent = 'Apply for the role';
        }
      });
    }
  
    // Call the function when the page loads and when it is resized
    window.onload = updateButtonText;
    window.onresize = updateButtonText;
  </script>
  <script src="../static/js/combined.js"></script>
  <script src="../static/js/popup.js"></script>
<script src="../static/sal/sal.js"></script>
  <script>
    sal({
        threshold: 0.5,
        once: false,
    })
  </script>
</body>
</html>