<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="https://www.googletagmanager.com/gtag/js?id=G-4KFHLY0BKF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-4KFHLY0BKF');
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/popup.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/jobseeker.css">
    <link rel="stylesheet" href="../static/css/extra.css">
    <link rel="stylesheet" href="../static/css/vacancysection.css">
    <link rel="stylesheet" href="../static/sal/sal.css">
    <title>If you're looking for a job, we might be helpful</title>
    <meta name="description" content="FRIDAY is a platform for individuals to land awesome job opportunities based on their skills, rather than CVs. No matter if you are experienced in your field, starting a career or changing careers, if you have the skills, we'll get you into amazing companies.">
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '485510554197875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485510554197875&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3641153989487559');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3641153989487559&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->
</head>
<body style="overflow-x: hidden; font-family: 'Poppins'; color: black;">
    <section class="hero ">
        <div class="hero-head" style="border-bottom: black solid 1px;">
          <div class="container" >
            <nav class="navbar">
            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="../static/images/logo.webp" alt="Logo of FRIDAY technologies" height="35" style="max-height: unset;">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end" style="margin-left: auto;">
                <!-- Mega Dropdown: Solutions -->
                
                <!--Pricing-->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/hrpricing">
                    <span>Pricing</span>
                  </a>
                </span>
                <!-- Other Links -->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/about">
                    <span>Contact Us</span>
                  </a>
                </span>
                <!-- Regular Dropdowns -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/blog">Resources</a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="/blog#career">Career Guide</a>
                      <a class="navbar-item" href="/blog#articles">Blog Articles</a>
                      <a class="navbar-item" href="/blog#section3">E-books</a>
                      <a class="navbar-item" href="/blog#section3">Tools</a>
                    </div>
                </div>
                
                <span class="navbar-item">
                  <a class="button" href="https://jobs.thefridayhr.com" style="background-color: #f45025; color: #fff; border-radius:1rem; font-weight: 600;">
                    Need a job?
                  </a>
                </span>
              </div>
            
          </div>
        </nav>
      </div>
    </div>
    <div class="hero-body" style="padding: 1rem 2rem; flex-direction: column;">
        <div class="container is-fluid" style="background-color: rgba(217,217,217,0.5); border-radius: 1.5rem;">
            <div class="columns" style="margin-bottom: 0px;">
                <div class="column is-4">
                    <h1 style="font-size: 3rem; line-height: 1.1; font-weight: 500; margin-top: 2rem; margin-bottom: 1rem; margin-left: 1rem; --sal-duration:1s;" data-sal="slide-up">
                        Get your <br><u>dream</u> job.
                    </h1>
                    <div style="font-size: 1.4rem; color: #fff; background-color: #f45025; padding-inline: 1rem; padding-block: 0.75rem; border: black solid 2px; border-radius: 1.5rem; margin-bottom: 1rem; --sal-duration:1.5s;" data-sal="slide-up">
                        <p>Friday works with the best startups and businesses so that we can ensure professional growth and personal-development of all candidates. </p>
                    </div>
                    <div  style="font-size: 1.4rem; padding-inline: 1rem; padding-block: 0.75rem; border: black solid 2px; border-radius: 1.5rem; margin-bottom: 1rem; display: inline-flex; flex-direction: row; width: 100%; align-items: center; justify-content: space-evenly; background-color: #fff; --sal-duration:2.5s;" data-sal="slide-up">
                        <div style="background-image: url(../static/portraits/aiony-haust-3TLl_97HNJo-unsplash.webp); height: 4rem; width: 4rem; background-size: cover; background-repeat: no-repeat;  border-radius: 2rem;"></div>
                        <div style="background-image: url(../static/portraits/behrouz-sasani-1B22UBPK1Pw-unsplash.webp); height: 4rem; width: 4rem; background-size: cover; background-repeat: no-repeat;  border-radius: 2rem;  margin-left: -20px;"></div>
                        
                        <div style="background-image: url(../static/portraits/jurica-koletic-7YVZYZeITc8-unsplash.webp); height: 4rem; width: 4rem; background-size: cover; background-repeat: no-repeat; border-radius: 2rem; margin-left: -20px;"></div>
                        <div style="background-image: url(../static/portraits/behrouz-sasani-1B22UBPK1Pw-unsplash.webp); height: 4rem; width: 4rem; background-size: cover; background-repeat: no-repeat;  border-radius: 2rem;  margin-left: -20px;"></div>
                        <p style="font-size: 0.85rem; line-height: 1.2; font-weight: 500; margin-left: 2rem;">Over <r style="font-size: 1.5rem; font-weight: 600;">1200+</r> <br>people hired</p>
                    </div>

                </div>
                <div class="column is-8" id="firstid" style="border-radius: 1.5rem; background-image: url(../static/newimgs/beautiful-young-woman-working-her-laptop-her-office-home.webp); background-size: cover; background-repeat: no-repeat; margin-block: 1rem; --sal-duration:1s;" data-sal="slide-left"></div>
            </div>
            <div style="display: flex;
            justify-content: center; 
            align-items: center;">
            <div style="background-color: #f45025;
            color: #fff;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            height: 5rem;
            border-radius: 1.5rem;">
                <h2 id="firsth2" >Never be left behind!</h2> 
                <a id="firstbtn" href="/form"> Sign up</a>
            </div>
            </div>
        </div>
    </div>
</section>
<div id="popup-container">
    <div id="popup-box">
        <span id="close-button">&times;</span>
        <div class="columns " style="justify-content: center;align-items: center;align-content: center;">
            <div class="column is-half" id="popupclmn1">

            </div>
            <div class="column is-half has-text-centered">
                <h2 id="popuph2"> Surfing the web is not gonna help you land a job!</h2>
                <p id="popupp">But <b> signing-up with FRIDAY </b> might, and <u> we'd love to have you in our community.</u></p>
                <button id="popupbtn"><a href="/form" style="all: unset;">Get free Consultation</a></button>
            </div>
        </div>
        
    </div>
</div>
<!--                       2nd Section        -->
<section class="section">
    <div class="container " style="border: #f45025 solid 2px; border-radius: 1.5rem;">
        <div class="columns" style="padding-top: 2rem;">
            <div class="column is-half">
                <h2 id="section2h1" data-sal="slide-down">Here is how to <br> find a job with <br>FRIDAY!</h2>
                <div style="background-image: url(../static/newimgs/beautiful-woman-staying-connected-with-internet.webp); background-repeat: no-repeat; background-size: cover; border: black solid 2px; height: 30rem; border-radius: 1.5rem;--sal-duration:1s;" data-sal="slide-up">
                </div>
            </div>
            <div class="column is-half">
                <p  id="firstp">
                    FRIDAY believes in providing equal opportunities to all candidates based on their skills and job-readiness, that's why we don't require anyone to sign-up their CVs, a beginner and an expert differ only by their talent.
                </p>
                <div class="steps" >
                    <h3 style="--sal-duration:1s;" data-sal="slide-left"><a href="/form" style="all: unset;">
                        1. Sign up on our website</a>
                    </h3>
                    <p style="--sal-duration:1s;" data-sal="slide-left">Help us understand what type of role would be ideal for you.</p>
                    
                    <h3 style="--sal-duration:1s;" data-sal="slide-left"><a href="/vacancies" style="all: unset;">
                        2. Browse vacancies </a>
                    </h3><p style="--sal-duration:1s;" data-sal="slide-left">Apply for current vacancies or wait for us to send you free alerts about job postings, that’d suit you.</p>
                    
                    <h3 style="--sal-duration:1s;" data-sal="slide-left"> 3. Easily apply for any role</h3><p style="--sal-duration:1s;" data-sal="slide-left">Applying for a job is a piece-of-cake, just follow the instructions.</p>
                    
                    <h3 style="--sal-duration:1s;" data-sal="slide-left">
                        4. Take assessment & get hired.
                    </h3>
                    <p style="--sal-duration:1s;" data-sal="slide-left"> If you’re shortlisted, we’ll send you assessment to check your skills, do well and you’re hired!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--                                               Vacancies section -->
<section class="section has-text-centered" style="background-color: #f45025;">
    <div class="container" >
        <h2 style="font-size: 2rem; font-weight: 600; color: #fff; margin-top: -2rem; line-height: 1.1;">Available vacancies</h2>
        <div style="display: flex; flex-direction: column; align-items: center;">
            <div class="vacancy " style="--sal-duration:1s;" data-sal="slide-up">
                <div class="columns is-mobile " style="padding-bottom: 1.3rem;">
                    <div class="column is-5 has-text-left">
                        <h2 class="vh1">
                            Graphic Designer
                        </h2>
                        <p class="vp">
                            Remote. Pakistan. <br> Full time
                        </p>
                    </div>
                    <div class="column is-4 has-text-left vclmn2">
                        <ul class="vul" >
                            <li>2+ years of exp</li>
                            <li>Competitive salary</li>
                            <li>Flexible timings</li>
                            <li>Urgent Hiring</li>
                        </ul>
                    </div>
                    <div class="column is-3 has-text-left" style="display: flex; flex-direction: column; align-items: flex-end; justify-content: center; padding-right: 2rem;">
                        <button class="vb1">
                            <u>Details</u>
                        </button>
                        <a href="/jobpost6" style="all: unset;"><button type="submit" class="vb2 applyButton"> Apply for the role</button></a>
                    </div>
                </div>
            </div>
            <div class="vacancy " style="--sal-duration:1s;" data-sal="slide-up">
                <div class="columns is-mobile " style="padding-bottom: 1.3rem;">
                    <div class="column is-5 has-text-left">
                        <h2 class="vh1">
                            Python Web Developer
                        </h2>
                        <p class="vp">
                            Hybrid. Pakistan. <br> Full time
                        </p>
                    </div>
                    <div class="column is-4 has-text-left vclmn2">
                        <ul class="vul" >
                            <li>5+ years of exp</li>
                            <li>Competitive salary</li>
                            <li>Flexible timings</li>
                            <li>Urgent Hiring</li>
                        </ul>
                    </div>
                    <div class="column is-3 has-text-left" style="display: flex; flex-direction: column; align-items: flex-end; justify-content: center; padding-right: 2rem;">
                        <button class="vb1">
                            <u>Details</u>
                        </button>
                        <a href="/jobpost5" style="all: unset;"><button type="submit" class="vb2 applyButton"> Apply for the role</button></a>
                    </div>
                </div>
            </div>
            <div class="vacancy " style="--sal-duration:1s;" data-sal="slide-up">
                <div class="columns is-mobile " style="padding-bottom: 1.3rem;">
                    <div class="column is-5 has-text-left">
                        <h2 class="vh1">
                            Data Analyst
                        </h2>
                        <p class="vp">
                            Remote. Pakistan. <br> Full time
                        </p>
                    </div>
                    <div class="column is-4 has-text-left vclmn2">
                        <ul class="vul">
                            <li>2+ years of exp</li>
                            <li>Competitive salary</li>
                            <li>Flexible timings</li>
                            <li>Urgent Hiring</li>
                        </ul>
                    </div>
                    <div class="column is-3 has-text-left" style="display: flex; flex-direction: column; align-items: flex-end; justify-content: center; padding-right: 2rem;">
                        <button class="vb1">
                            <u>Details</u>
                        </button>
                        <a href="/jobpost4" style="all: unset;"><button type="submit" class="vb2 applyButton"> Apply for the role</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container is-fluid vbuttons" style="display: inline-flex; flex-direction: row; justify-content: center; margin-top: 1.2rem;">
            <a href="/vacancies" class="button">
                View All</a>
            <a href="/form" class="button">
                Sign-up
            </a>

        </div>
    </div>
</section>
<!--                                 Last section -->
<section class="section" style="background-color: #864def; margin-block: 2rem;">
<div class="container has-text-centered">
    <h2 style="margin-bottom: 2rem;margin-top: -1rem;
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: -2px;">Why Friday?</h2>
    <div class="columns is-mobile " style="width: 105%; justify-content: center;">
        <div class="column whitebox" style="--sal-duration:1s;" data-sal="slide-left">
            <figure style="height: 4rem; width: 4rem;">
                <img src="../static/newimgs/cooperation.webp" alt="icon of corporation" srcset="">
            </figure>
            <h3>
                Onboarding <br> help
            </h3>
        </div>
        <div class="column purplebox" >
            <figure style="height: 4rem; width: 4rem;">
                <img src="../static/newimgs/social-care.webp" alt="icon of social-care" srcset="">
            </figure>
            <h3>
                Post-hire <br> support
            </h3>
        </div>
        <div class="column whitebox" style="--sal-duration:1s;" data-sal="slide-right">
            <figure style="height: 4rem; width: 4rem;">
                <img src="../static/newimgs/network.webp" alt="icon of social-care" srcset="">
            </figure>
            <h3>
                Professional <br> community
            </h3>
        </div>
    </div>

    <div class="columns is-mobile" style="width: 105%; justify-content: center;margin-top: 0.5rem;">
        <div class="column purplebox">
            <figure style="height: 4rem; width: 4rem;">
                <img src="../static/newimgs/reputation.webp" alt="icon of reputation" srcset="">
            </figure>
            <h3>
                Reputable <br> employers
            </h3>
        </div>
        <div class="column whitebox" style="--sal-duration:1s;" data-sal="slide-up">
            <figure style="height: 4rem; width: 4rem;">
                <img src="../static/newimgs/goal.webp" alt="icon of goal" srcset="">
            </figure>
            <h3>
                Career <br> guidance
            </h3>
        </div>
        <div class="column purplebox"  >
            <figure style="height: 4rem; width: 4rem;">
                <img src="../static/newimgs/pencil.webp" alt="icon of pencil" srcset="">
            </figure>
            <h3>
                Skill- <br> Oriented
            </h3>
        </div>
    </div>
</div>
</section>
<!--                                 Footer         -->
 <footer id="footer">
    <div class="container-fluid" style="margin-top:.5rem;">
        <div class="columns" style="margin-bottom:2rem;">
            <div class="column is-two-fifths" id="footerc1">
                <figure>
                    <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
                </figure>
                <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
                <div class="field has-addons" >
                    <div class="control is-expanded has-icons-left">
                        <form action="/email_list" method="post" style="display: flex; ">
                            <div id="formdiv" >
                                <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                            </div>
                        </form>
                    </div>
                  </div>
                <div style="display: inline-flex; flex-direction: row;">
                    <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                    <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                    <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                    <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                    <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
                </div>
            </div>
            <div class="column is-two-fifths" id="footerc3">
                <div class="columns is-mobile">
                    <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="column is-half">
                        <ul class="ful">Resources
                            <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                            <li><a href="/blog#section3">E-books</a></li>
                            <li><a href="/blog#career">Career-guidance</a></li>
                            <li><a href="/blog#section3">Helpful tools</a></li>
                             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
                <blockquote>
                    "Great things in business are never done by one person; they're done by a team of people."<br>
                    <cite>Steve Jobs</cite>
                </blockquote>
            </div>
        </div>
        <div id="footerend">
        <p>Friday Technologies and Systems. All rights reserved.</p>
        <p><a href="/privacy">Terms and conditions</a></p>
    </div>
    </div>
</footer>
<script src="https://kit.fontawesome.com/114047c3df.js" crossorigin="anonymous" defer></script>
<script src="../static/js/combined.js"></script>
<script src="../static/js/popup.js"></script>
<script src="../static/sal/sal.js"></script>
<script>
    sal({
        threshold: 0.5,
        once: false,
    })
</script>
</body>
</html>