<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/popup.css">
    <title>Document</title>
</head>
<body>
    
    <div id="popup-container">
        <div id="popup-box">
            <span id="close-button">&times;</span>
            <div class="columns " style="justify-content: center;align-items: center;align-content: center;">
                <div class="column is-half" id="popupclmn1">

                </div>
                <div class="column is-half has-text-centered">
                    <h2 id="popuph2"> Surfing the web is not helping your business!</h2>
                    <p id="popupp">But <b> optimizing employee performance </b> might, and <u> our consultation can help with that.</u></p>
                    <button id="popupbtn">Get free Consultation</button>
                </div>
            </div>
            
        </div>
    </div>

    <script src="../static/js/popup.js"></script>
</body>
</html>