<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/services2.css">
    <link rel="stylesheet" href="../static/sal/sal.css">
    <link rel="stylesheet" href="../static/css/popup.css">
    <style>
        .column a{
            all: unset;
        }
    </style>
    <title>Build and manage Amazing teams for your Awesome Business!</title>
    <meta name="description" content="FRIDAY is an innovtive company that bring Skill-based Hiring and fully-managed HR services for businesses of every level and industry. We make sure that your company will not only onboard top-talent but also manage it effectively.">
</head>
<body style="overflow-x: hidden; font-family: 'Poppins';">
    <section class="hero ">
        <div class="hero-head" style="border-bottom: black solid 1px;">
          <div class="container" >
            <nav class="navbar" >
              <div class="container" >
                  <div class="navbar-brand">
                      <a class="navbar-item" href="/" >
                          <img src="../static/images/logo.webp" alt="Logo" height="250" width="100" style="max-height: unset;" height="35" width="100">
                      </a>
                      <span class="navbar-burger burger" data-target="navbarMenu">
                          <span></span>
                          <span></span>
                          <span></span>
                      </span>
                  </div>
                  <div id="navbarMenu" class="navbar-menu">
                      <div class="navbar-end" style="margin-left: auto;
                      margin-right: unset;">
                          <span class="navbar-item has-dropdown is-hoverable">
                              <a class="navbar-link" href="/index">
                                  For Businesses
                              </a>
                                  <div class="navbar-dropdown is-boxed">
                                      <a class="navbar-item" href="/jobseekers">
                                          <span>For jobseekers</span>
                                      </a>         
                                  </div>
                          </span>
                          <span class="navbar-item">
                            <a class="button is-white is-outlined" href="/services">    
                                <span>Services</span>
                            </a>
                          </span>
                          <span class="navbar-item">
                            <a class="button is-white is-outlined" href="/vacancies">    
                                <span>Vacancies</span>
                            </a>
                          </span>
                          <span class="navbar-item has-dropdown is-hoverable">
                          <a class="navbar-link" href="/blog">
                            Resources
                          </a>
                          <div class="navbar-dropdown is-boxed">
                              <a class="navbar-item" href="/blog#career">
                                  <span>Career Guide</span>
                              </a>
                              <a class="navbar-item" href="/blog#articles">
                                  <span>Blog Articles</span>
                              </a>
                              <a class="navbar-item" href="/blog#section3">
                                  <span>E-books</span>
                              </a>
                              <a class="navbar-item" href="/blog#section3">
                                  <span>Tools</span>
                              </a>
                          </div>
                        </span>
                            <span class="navbar-item">
                              <a class="button is-white is-outlined" href="/about">    
                                  <span>Contact Us</span>
                              </a>
                            </span>
                          <span class="navbar-item">
                              <a class="button" href="/form" style="background-color: #864def; color: #fff; border-radius:1rem; font-weight: 600;"> 
                                  Sign Up!
                              </a>
                          </span>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
    </div>
    <div class="hero-body" style="padding: 0rem; flex-direction: column;">
        <div class="container-fluid" style="background-image: url(../static/newimgs/Friday\ Tech.png); background-size: cover;">
            <div class="columns ">
                <div class="column is-half " id="heroc1">
                    <div id="div1">
                    <h1 style="font-size: 2.83rem;
                    line-height: 1;
                    color: #fff;
                    font-weight: 600;
                    margin-block: 1.5rem;">
                       Can YOUR business grow with a bad team?
                    </h1>
                    <h2 style="color: #fff;
                    font-size: 1.5rem;
                    line-height: 1.1;">No business can! <br> That's why we built FRIDAY.</h2>
                    <p style="color: black;
                    font-weight: 600;
                    font-size: 1.1rem;"><a href="#pib" style="all: unset;"><u>And we also take branding as a form of payment.</u></a></p>
                    </div>
                </div>
                <div class="column hero_column is-half " style="background-image:url(../static/newimgs/business-team-working-together-office-light-gray-background-all-working-laptops-girl-headphones-enjoying-music.jpg); background-repeat: no-repeat; background-size: cover;">
                </div>
            </div>
        </div>
    </div>
</section>

<div id="popup-container">
    <div id="popup-box">
        <span id="close-button">&times;</span>
        <div class="columns " style="justify-content: center;align-items: center;align-content: center;">
            <div class="column is-half" id="popupclmn1">
            </div>
            <div class="column is-half has-text-centered">
                <h2 id="popuph2"> Surfing the web is not helping your business!</h2>
                <p id="popupp">But <b> We can! </b> And the crazy part is that <u> You can pay us with branding.</u> Click to get in touch.</p>
                <button id="popupbtn"><a href="https://wa.me/923279024800" style="all: unset;">Hello team FRIDAY</a></button>
            </div>
        </div>
    </div>
</div>


<section class="section" id="hr">
    <div class="container has-text-centered">
        <div class="columns " style=" color: black;">
           <div class="column is-6 c2">
            <div style="display: inline-flex; flex-direction: row;">
                <a href="#hiring" style="all: unset;"><button class="firstbtns" style="border: #864def solid 1px; border-radius: 2.5rem 0rem 0rem 2.5rem; background-color: #fff;">
                    Hiring 
                </button></a>
                <a href="#hr" style="all: unset;"><button class="firstbtns" style="border-radius: 0rem 2.5rem 2.5rem 0rem; background-color: #864def; color: #fff; border: #fff solid 2px; border-right: none;">
                    HR
                </button></a>
            </div>
            <div class="  has-text-left" data-sal="slide-up" style="--sal-duration:1s;">
                <h1 style="    font-size: 1.8rem;
                font-weight: 600;
                line-height: 1;
                letter-spacing: -2px; color: #4a4a4a;
    padding-bottom: 1.25rem;">Make your team, <br> Your Strength.</h1>
                <div style="display: inline-flex; flex-direction: row; align-items: center; padding-bottom: 1.5rem;">
                <h2 style="font-size: 1.2rem; font-weight: 500; line-height: 1.2;">No. of employees to be managed.</h2> <div class="field has-addons">
                    <div class="control" style="text-align: right;">
                      <input class="input" type="number" id="userInput" placeholder="05" style="width: 85%;border: 1px solid black;">
                    </div>
                  </div>
                </div>
                <div style="display: inline-flex; flex-direction: column; ">
                    <p style="font-size: 1.7rem; font-weight: 500; line-height: 1.1;"><u>$<num id="result1">59.9</num>  <smol style="font-size: 1.1rem;">Per month</smol></u></p> 
                    <p style="font-size: 1.7rem; font-weight: 600; line-height: 1.1;"><u>$<num id="result2" style="text-decoration: line-through; font-size: 1.2rem;">699</num><num id="result3"></num>  <smol style="font-size: 1.1rem;">Per year (2 months free)</smol></u></p>
                </div>
                <p style="line-height: 1.2; font-size: 1.1rem; padding-block: 1rem; ">Best for small businesses / Startups that don’t have their own HR personnel and want to build a winning team.</p>

                <a href="https://wa.me/923279024800" id="thirdbtn"  style="padding-inline: 3rem;">Get Started</a>

                <h3 id="toggleButton1" style="font-size: 1.2rem; font-weight: 600; margin-top: 0.4rem;"><u> What's included ?</u></h3>
                <ul id="toggleList1" style="list-style: decimal; font-weight: 400; margin-left: 1rem;">
                    <li>HR legal compliance
                        </li>
                    <li>Payroll management
                        </li>
                    <li>Performance evaluations
                        </li>
                    <li>Employee Training assistance 
                        </li>
                    <li>Contracts and Record keeping
                        </li>
                    <li>Organizational design
                        </li>
                    <li>Discount on Hiring services
                        </li>
                    <li>Internal Complaints handling
                        </li>
                    <li>Employee conflict resolution
                        </li>
                    <li>Employee retention consultation
                        </li>
                    <li>Employee benefits management</li>
                    </ul>
                <h3 id="toggleButton1" style="font-size: 1.2rem; font-weight: 600; margin-top: 0.4rem;"><a href="#pib" style="all: unset;"><u> Want to pay with Branding ?</u></a></h3>
            </div>
            </div>
            <div class="column is-6">
                <div style="background: linear-gradient(90deg,#bd35fd,#6734cf); border-radius: 2.5rem; display: inline-flex; flex-direction: column; padding: 1.7rem; margin-bottom: 2rem;">
                    <h2 style="font-size: 2rem; line-height: 1; color: #fff;text-align: left;font-weight: 700;">Your Details have been received, we'll update you shortly. </h2>
                    <h3 style="font-size: 1.3rem;line-height: 1.1;text-align: right;color: #fff;margin-top: 1.3rem;">Keep in mind that this community is free to join but it does have rules and criterion for entry. If you qualify we'll add you to the group. Have a good day!</h3>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--           Hiring Section -->
<section id="hiring" style="padding-bottom: 2rem;">
<div class="container" >
    <div class="columns" style="border: 2px solid black; border-radius: 1.5rem; background-color: #864def;">
        <div class="column is-6 c2" style="background-color: #fff;">
            <div style="display: inline-flex; flex-direction: row;">
                <a href="#hiring" style="all: unset;"><button class="firstbtns" style="border-radius: 2.5rem 0rem 0rem 2.5rem; background-color: #864def; color: #fff; border: #fff solid 2px; border-right: none;">
                    Hiring 
                </button></a>
                <a href="#hr" style="all: unset;"><button class="firstbtns" style="border: #864def solid 1px; border-radius: 0rem 2.5rem 2.5rem 0rem; background-color: #fff;">
                    HR
                </button></a>
            </div>
            <h3 style="font-size: 1.8rem;font-weight: 600;line-height: 1;letter-spacing: -2px;">Hire Once. Hire Right.</h3>
            <form id="jobApplicationForm">
                <div class="field">
                  <label class="label" style="margin-bottom: 0rem;">How many people do you need to hire?</label>
                  <div class="control">
                    <input class="input" type="number" id="numToHire" min="1" required>
                  </div>
                </div>
            
                <div class="field">
                  <label class="label" style="margin-bottom: 0rem;">What's the work style going to be?</label>
                  <div class="control">
                    <label class="radio">
                      <input type="radio" name="workStyle" value="remote" required>
                      Remote
                    </label>
                    <label class="radio">
                      <input type="radio" name="workStyle" value="inOffice" required>
                      In Office
                    </label>
                  </div>
                </div>
            
                <div class="field">
                  <label class="label" style="margin-bottom: 0rem;">What kind of role is it?</label>
                  <div class="control">
                    <div class="select">
                      <select id="roleType" required>
                        <option value="" disabled selected>Select role type</option>
                        <option value="fullTime">Full-time</option>
                        <option value="partTime">Part-time</option>
                        <option value="contract">Contract</option>
                      </select>
                    </div>
                  </div>
                </div>
            
                <div class="field">
                  <label class="label" style="margin-bottom: 0rem;">What's the importance level of the job?</label>
                  <div class="control">
                    <div class="select">
                      <select id="importanceLevel" required>
                        <option value="" disabled selected>Select importance level</option>
                        <option value="entryLevel">Entry Level</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="advanced">Advanced</option>
                      </select>
                    </div>
                  </div>
                </div>
                
              </form>
        </div>
                <div class="column is-6  has-text-left" data-sal="slide-right" style="--sal-duration:1s; color: #fff;">
                    <h1 style="font-size: 2rem; font-weight: 500; padding-bottom: 1rem;">Your Investment</h1>
                    <h2 style="font-size: 1.25rem; font-weight: 500;  line-height: 1.1; padding-bottom: 1rem;" id="resultDisplay"></h2>
                    <p style="line-height: 1.2; font-size: 1.1rem; padding-block: 1rem;padding-right: 1.5rem;">We do End-to-End hiring from posting on job boards to conducting interviews and onboarding. Also We will replace the candidate as manay times as it takes for you to find the perfect fit!</p>
                    <a href="https://wa.me/923279024800" style="border: none; background-color: #fff; color: #864def; font-size: 1.5rem; font-weight: 500; padding-block: 0.51rem; border-radius: 1.15rem; padding-inline: 3rem;">Get Started</a>
                    <h3 id="toggleButton2" style="font-size: 1.2rem; font-weight: 600; margin-top: 0.7rem;"><u>What's included?</u></h3>
                    <ul id="toggleList2" style="list-style: decimal; font-weight: 400; margin-left: 1rem; color: #fff;">
                        <li>Consultation of vacancy
                            </li>
                        <li>Creation of assessment
                            </li>
                        <li>Candidate sourcing
                            </li>
                        <li>Candidate evaluations
                            </li>
                        <li>Interviews by Psychologist
                            </li>
                        <li>Background checks
                            </li>
                        <li>Onboarding help
                            </li>
                        <li>Free replacements </li>
                        </ul>
                        <h3 id="toggleButton2" style="font-size: 1.2rem; font-weight: 600; margin-top: 0.7rem;"><a href="#pib" style="all: unset;"><u> Want to pay with Branding ?</u></a></h3>
                </div>
    </div>
</div>
</section>
<!--                    FAQ's Section    -->
<section  style="padding-inline: 0rem; margin-bottom: 1rem;">
    <div class="container-fluid" style="background-color: #d9d9d9;">
        
        <div class="columns" style="margin-inline: 1rem;">
            <div class="column is-4">
                <h3 id="faqtitle">Frequently Asked Questions</h3>
            </div>
        <div class="column is-8">
            <div class="faq">
            <h4  onclick="toggleAnswer('answer1')">How does HR management work? <img src="../static/newimgs/down-arrow.png" alt="Arrow down icon"></h4>
                <p id="answer1" class="faq-answer">This is a simple concept. We do all the activities of an HR-department but for less money and remotely, of course. We'll prepare specialized plan for your organization to make sure that your organization and employees have clear goals which both will achieve together. And ton of other boring stuff already mentioned above.</p>
            </div>
            <div class="faq">
            <h4  onclick="toggleAnswer('answer2')">Why isn’t there a checkout page? <img src="../static/newimgs/down-arrow.png" alt="Arrow down icon"></h4>

                <p id="answer2" class="faq-answer">Simple, every organization is different and before we take your money, we want to make sure that we can actually bring something to the table for your business. That's why we do consultation first (totally free btw) and then talk about money.</p>
         </div>
         <div class="faq">
            <h4 id="pib" onclick="toggleAnswer('answer3')" style="font-weight: bold;">What’s this “Pay-in-Branding”? <img src="../static/newimgs/down-arrow.png" alt="Arrow down icon"></h4>
                <p style="    font-size: 1.4rem;
                margin-top: 1rem;">Basically, if you have good social media presence, we will offer you 40-80% discounts on our services, and all you have to do is post us on your socials and write a blog post about us. So in essence you'd be using your social reputation as a currency!</p>
         </div>
         <div class="faq">
            <h4  onclick="toggleAnswer('answer4')">Is there an industy we don't work with? <img src="../static/newimgs/down-arrow.png" alt="Arrow down icon"></h4>
                <p id="answer4" class="faq-answer">Actually, this is a hard-to-answer question, it all comes down to the qualification of the employees that we'll be working with, along with the general vibe of the company. Get in touch to discuss this in detail. </p>
</div>
        </div>
        </div>
    </div>
</section>


<!--                                 Footer         -->
 <footer id="footer">
    <div class="container-fluid" style="margin-top:.5rem;">
        <div class="columns" style="margin-bottom:2rem;">
            <div class="column is-two-fifths" id="footerc1">
                <figure>
                    <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
                </figure>
                <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
                <div class="field has-addons" >
                    <div class="control is-expanded has-icons-left">
                        <form action="/email_list" method="post" style="display: flex; ">
                            <div id="formdiv" >
                                <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                            </div>
                        </form>
                    </div>
                  </div>
                <div style="display: inline-flex; flex-direction: row;">
                    <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                    <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                    <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                    <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                    <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
                </div>
            </div>
            <div class="column is-two-fifths" id="footerc3">
                <div class="columns is-mobile">
                    <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="column is-half">
                        <ul class="ful">Resources
                            <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                            <li><a href="/blog#section3">E-books</a></li>
                            <li><a href="/blog#career">Career-guidance</a></li>
                            <li><a href="/blog#section3">Helpful tools</a></li>
                             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
                <blockquote>
                    "Great things in business are never done by one person; they're done by a team of people."<br>
                    <cite>Steve Jobs</cite>
                </blockquote>
            </div>
        </div>
        <div id="footerend">
        <p>Friday Technologies and Systems. All rights reserved.</p>
        <p><a href="/privacy">Terms and conditions</a></p>
    </div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/114047c3df.js" crossorigin="anonymous" defer></script>
<script src="../static/js/services.js"></script>
  <script src="../static/js/combined.js"></script>
<script src="../static/sal/sal.js"></script>
  <script>
    sal({
  threshold: .5,
  once: false,
});
  </script>
</body>
</html>