<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.webp">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/vacancies.css">
    <link rel="stylesheet" href="../static/css/extra.css">
    <link rel="stylesheet" href="../static/sal/sal.css">
    <title>Available Vacancies</title>
    <meta name="description" content="FRIDAY brings job opportunities at reputable companies. This page is where you'll see all the available vacancies and can apply to the jobs that suit your preferences.">
<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '485510554197875');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=485510554197875&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3641153989487559');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=3641153989487559&ev=PageView&noscript=1"
    /></noscript>
<!-- End Meta Pixel Code -->

</head>
<body style="overflow-x: hidden; font-family: 'Poppins'; color: black;">
    <section class="hero ">
        <div class="hero-head" style="border-bottom: black solid 1px;">
          <div class="container" >
            <nav class="navbar">
            <!-- Navbar Brand -->
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img src="../static/images/logo.webp" alt="Logo of FRIDAY technologies" height="35" style="max-height: unset;">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <!-- Navbar Menu -->
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end" style="margin-left: auto;">
                <!-- Mega Dropdown: Solutions -->
                
                <!--Pricing-->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/hrpricing">
                    <span>Pricing</span>
                  </a>
                </span>
                <!-- Other Links -->
                <span class="navbar-item">
                  <a class="button is-white is-outlined" href="/about">
                    <span>Contact Us</span>
                  </a>
                </span>
                <!-- Regular Dropdowns -->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/blog">Resources</a>
                    <div class="navbar-dropdown">
                      <a class="navbar-item" href="/blog#career">Career Guide</a>
                      <a class="navbar-item" href="/blog#articles">Blog Articles</a>
                      <a class="navbar-item" href="/blog#section3">E-books</a>
                      <a class="navbar-item" href="/blog#section3">Tools</a>
                    </div>
                </div>
                
                <span class="navbar-item">
                  <a class="button" href="https://jobs.thefridayhr.com" style="background-color: #f45025; color: #fff; border-radius:1rem; font-weight: 600;">
                    Need a job?
                  </a>
                </span>
              </div>
            
          </div>
        </nav>
      </div>
    </div>
    <div class="hero-body" style="padding: 1rem 2rem; flex-direction: column; background: linear-gradient(180deg,transparent, #864def);">
        <div class="container has-text-centered" >
            <h1 style="font-size: 3rem;font-weight: 600;margin-top: 4rem;letter-spacing: -2px; line-height: 1;" >
                Find work, that works for you.
            </h1>
            <div style="display: inline-flex; flex-direction: row; margin-bottom: 1rem;">
                <input class="in1" type="text" placeholder="job title" style="border-radius: 2.5rem 0rem 0rem 2.5rem;">
                <input class="in1" type="text" name="" id="" name="" placeholder="Location / Remote" >
                <button id="btn1">Search</button>
            </div>
             
                <p><b><u>Popular Jobs:</u></b>  Python developer, UI designer, Network admin</p>
                <p><b><u>Popular regions:</u></b>  Islamabad, Karachi, Gujrat, Sirinagar</p>
            
            <div id="emaildiv" >
                <h3 style="font-size: 1.5rem; padding-right: 1rem;">Sign up for alerts.</h3>
                <form action="/email_list" method="post">
                <input type="text" name="email" id="emailformin" placeholder="Enter email address">
                <button id="emailformbtn">Submit</button></form>
            </div>
        </div>
    </div>
</section>
<!--                        Vacancies section  -->
<section class="section">
    <div class="container ">
        <div class="columns" id="firstclmns">
            <!--div class="column is-2 is-hidden-tablet is-hidden-mobile is-hidden-desktop" >
                <div class="columns is-multiline filters">
                    <div class="column is-11" style="display: inline-flex; flex-direction: row; justify-content: space-around;">
                        <p>Filters</p>
                        <a href="#">Clear all</a>

                    </div>
                    <div class="column is-11">
                        <h2 class="filter">Job type</h2>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="fulltime" class="is-checkradio" name="options">
                            <label for="fulltime">Full-time</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="parttime" class="is-checkradio" name="options">
                            <label for="parttime">Part-time</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="contract" class="is-checkradio" name="options">
                            <label for="contract">Contract</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="internship" class="is-checkradio" name="options">
                            <label for="internship">Internship</label>
                        </div>
                    </div>
                    <div class="column is-11">
                        <h2 class="filter">Location</h2>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="islamabad" class="is-checkradio" name="options">
                            <label for="islamabad">Islamabad</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="lahore" class="is-checkradio" name="options">
                            <label for="lahore">Lahore</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="karachi" class="is-checkradio" name="options">
                            <label for="karachi">Karachi</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="gujrat" class="is-checkradio" name="options">
                            <label for="gujrat">Gujrat</label>
                        </div>
                    </div>
                    <div class="column is-11">
                        <h2 class="filter">Work Style</h2>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="onsite" class="is-checkradio" name="options">
                            <label for="onsite">Onsite</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="hybrid" class="is-checkradio" name="options">
                            <label for="hybrid">Hybrid</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="remote" class="is-checkradio" name="options">
                            <label for="remote">Remote</label>
                        </div>
                    </div>
                    <div class="column is-11">
                        <h2 class="filter">Experience</h2>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="0to2" class="is-checkradio" name="options">
                            <label for="0to2">O-2 years</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="2to5" class="is-checkradio" name="options">
                            <label for="2to5">2-5 years</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="5to10" class="is-checkradio" name="options">
                            <label for="5to10">5-10 years</label>
                        </div>
                        <div class="field " style="margin-bottom: .25rem;">
                            <input type="checkbox" id="10+" class="is-checkradio" name="options">
                            <label for="10+">10+ years</label>
                        </div>
                    </div>
                </div>
            </div-->
            <div class="column is-12">
                <div class="columns is-multiline is-mobile" style="justify-content: center;" >
                    <div class="column jobclmn" >
                        <div class="container is-fluid"  >
                            <!--Icon and name   -->
                            <div class="columns is-mobile iconandtitle" >
                                <div class="column is-3">
                                    <div style="background-image: url(../static/newimgs/logo5.png); background-repeat: no-repeat; background-size: cover; height: 4rem; width: 4rem;"></div>
                                </div>
                                <div class="column is-9">
                                    <h1 style="font-size: 2rem;
                                    font-weight: 600;
                                    line-height: 1.1;
                                    letter-spacing: -2px;">Content writer</h1>
                                    <p>PureEase Solutions</p>
                                </div>
                            </div>
                            <!--Requirements list-->    
                            <div class="columns is-mobile" style="margin-bottom: 1rem;">
                                <div class="column reqs">Peshawar</div>
                                <div class="column reqs">On-site</div>
                                <div class="column reqs">Part-time</div>
                                <div class="column reqs">2+ Years</div>
                            </div>
                            <!--skills list-->    
                            <div class="columns is-mobile" style="margin-bottom: 1rem; padding-left: 0.3rem; flex-wrap: wrap;">
                                <div class="column skill">Writing Skills</div>
                                <div class="column skill">Research Abilities</div>
                                <div class="column skill">Creativity</div>
                                <div class="column" style="line-height: 1.1;"> <u>+2 skills </u></div>
                            </div>
                            <ul class="" style="font-size: 1.4rem;
                            font-weight: 500;">
                                <li><i class="fa-solid fa-dollar-sign"></i>  To be negotiated</li>
                                <li><i class="fa-solid fa-location-dot"></i>  Peshawar, Pakistan</li>
                                <li><i class="fa-solid fa-list-check"></i>  15 Applicants</li>
                                <li></li>
                            </ul>
                            <div  style="margin-top: 1.4rem;display: inline-flex;flex-direction: row;width: 100%;align-items: center;justify-content: space-between;">
                                <div >
                                    <i class="fa-solid fa-clock-rotate-left"></i> Posted 4 days ago
                                </div>
                                <div >
                                    <a href="/jobpost1" target="_blank" style="all: unset;"><button class="applybtn">Apply now</button></a>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="column jobclmn" >
                            <div class="container is-fluid"  >
                                <!--Icon and name   -->
                                <div class="columns is-mobile iconandtitle">
                                    <div class="column is-3">
                                        <div style="background-image: url(../static/newimgs/logo1.png); background-repeat: no-repeat; background-size: cover; height: 4rem; width: 4rem;"></div>
                                    </div>
                                    <div class="column is-9">
                                        <h1 style="font-size: 2rem;
                                        font-weight: 600;
                                        line-height: 1.1;
                                        letter-spacing: -2px;">Social media manager</h1>
                                        <p>QuickWin Technologies</p>
                                    </div>
                                </div>
                                <!--Requirements list-->    
                                <div class="columns is-mobile" style="margin-bottom: 1rem;">
                                    <div class="column reqs">Rawalpindi</div>
                                    <div class="column reqs">Hybrid</div>
                                    <div class="column reqs">Full-time</div>
                                    <div class="column reqs">4+ Years</div>
                                </div>
                                <!--skills list-->    
                                <div class="columns is-mobile" style="margin-bottom: 1rem; padding-left: 0.3rem;flex-wrap: wrap;">
                                    <div class="column skill">Content Creation</div>
                                    <div class="column skill">Social Media Expertise</div>
                                    <div class="column skill">Analytics</div>
                                    <div class="column" style="line-height: 1.1;"> <u>+2 skills </u></div>
                                </div>
                                <ul class="" style="font-size: 1.4rem;
                                font-weight: 500;">
                                    <li><i class="fa-solid fa-dollar-sign"></i>  To be negotiated</li>
                                    <li><i class="fa-solid fa-location-dot"></i>  Rawalpindi, Pakistan</li>
                                    <li><i class="fa-solid fa-list-check"></i>  14 Applicants</li>
                                    <li></li>
                                </ul>
                                <div  style="margin-top: 1.4rem;display: inline-flex;flex-direction: row;width: 100%;align-items: center;justify-content: space-between;">
                                    <div >
                                        <i class="fa-solid fa-clock-rotate-left"></i> Posted 4 days ago
                                    </div>
                                    <div >
                                        <a href="/jobpost2" target="_blank" style="all: unset;"><button class="applybtn">Apply now</button></a>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="column jobclmn" >
                                <div class="container is-fluid"  >
                                    <!--Icon and name   -->
                                    <div class="columns is-mobile iconandtitle">
                                        <div class="column is-3">
                                            <div style="background-image: url(../static/newimgs/logo4.png); background-repeat: no-repeat; background-size: cover; height: 4rem; width: 4rem;"></div>
                                        </div>
                                        <div class="column is-9">
                                            <h1 style="font-size: 2rem;
                                            font-weight: 600;
                                            line-height: 1.1;
                                            letter-spacing: -2px;">Marketing manager</h1>
                                            <p>Omega Marketing Inc.</p>
                                        </div>
                                    </div>
                                    <!--Requirements list-->    
                                    <div class="columns is-mobile" style="margin-bottom: 1rem;">
                                        <div class="column reqs">Gujranwala</div>
                                        <div class="column reqs">On-site</div>
                                        <div class="column reqs">Full-time</div>
                                        <div class="column reqs">3+ Years</div>
                                    </div>
                                    <!--skills list-->    
                                    <div class="columns is-mobile" style="margin-bottom: 1rem; padding-left: 0.3rem;flex-wrap: wrap;  ">
                                        <div class="column skill">Strategic Thinking</div>
                                        <div class="column skill">Market Analysis</div>
                                        <div class="column skill">Leadership</div>
                                        <div class="column" style="line-height: 1.1;"> <u>+2 skills </u></div>
                                    </div>
                                    <ul class="" style="font-size: 1.4rem;
                                    font-weight: 500;">
                                        <li><i class="fa-solid fa-dollar-sign"></i>  To be negotiated</li>
                                        <li><i class="fa-solid fa-location-dot"></i>  Gujranwala, Pakistan</li>
                                        <li><i class="fa-solid fa-list-check"></i>  11 Applicants</li>
                                        <li></li>
                                    </ul>
                                    <div  style="margin-top: 1.4rem;display: inline-flex;flex-direction: row;width: 100%;align-items: center;justify-content: space-between;">
                                        <div >
                                            <i class="fa-solid fa-clock-rotate-left"></i> Posted 5 days ago
                                        </div>
                                        <div >
                                            <a href="/jobpost3" target="_blank" style="all: unset;"><button class="applybtn">Apply now</button></a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <!--           [Purple box]    Another Column -->
                    <div class="column pjobclmn" data-sal="slide-left" style="--sal-duration: 1s;"> 
                        <div class="container is-fluid"  >
                            <!--Icon and name   -->
                            <div class="columns is-mobile iconandtitle">
                                <div class="column is-3">
                                    <div style="background-image: url(../static/newimgs/logo4.png); background-repeat: no-repeat; background-size: cover; height: 4rem; width: 4rem;"></div>
                                </div>
                                <div class="column is-9">
                                    <h1 style="font-size: 2rem;
                                    font-weight: 600;
                                    line-height: 1.1;
                                    letter-spacing: -2px;">Data Analyst</h1>
                                    <p>Omega Marketing Inc.</p>
                                </div>
                            </div>
                            <!--Requirements list-->    
                            <div class="columns is-mobile" style="margin-bottom: 1rem;">
                                <div class="column preqs">Remote</div>
                                <div class="column preqs">Remote</div>
                                <div class="column preqs">Full-time</div>
                                <div class="column preqs">2+ Years</div>
                            </div>
                            <!--skills list-->    
                            <div class="columns is-mobile" style="margin-bottom: 1rem; padding-left: 0.3rem;flex-wrap: wrap;">
                                <div class="column pskill">Data Analysis</div>
                                <div class="column pskill">Python / R</div>
                                <div class="column pskill">SQL</div>
                                <div class="column pskill">Data Viz</div>
                                <div class="column" style="line-height: 1.1;"> <u>+2 skills </u></div>
                            </div>
                            <ul class="" style="font-size: 1.4rem;
                            font-weight: 500; color: #fff;" >
                                <li><i class="fa-solid fa-dollar-sign"></i>  To be negotiated</li>
                                <li><i class="fa-solid fa-location-dot"></i>  Remote</li>
                                <li><i class="fa-solid fa-list-check"></i>  16 Applicants</li>
                                <li></li>
                            </ul>
                            <div  style="margin-top: 1.4rem;display: inline-flex;flex-direction: row;width: 100%;align-items: center;justify-content: space-between;">
                                <div >
                                    <i class="fa-solid fa-clock-rotate-left"></i> Posted 5 days ago
                                </div>
                                <div >
                                    <a href="/jobpost4" target="_blank" style="all:unset;"><button class="papplybtn">Apply now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--        Column ends here-->
                    <div class="column jobclmn" >
                        <div class="container is-fluid"  >
                            <!--Icon and name   -->
                            <div class="columns is-mobile iconandtitle">
                                <div class="column is-3">
                                    <div style="background-image: url(../static/newimgs/logo2.png); background-repeat: no-repeat; background-size: cover; height: 4rem; width: 4rem;"></div>
                                </div>
                                <div class="column is-9">
                                    <h1 style="font-size: 2rem;
                                    font-weight: 600;
                                    line-height: 1.1;
                                    letter-spacing: -2px;">Django web developer</h1>
                                    <p>BrightSide solutions</p>
                                </div>
                            </div>
                            <!--Requirements list-->    
                            <div class="columns is-mobile" style="margin-bottom: 1rem;">
                                <div class="column reqs">Peshawar</div>
                                <div class="column reqs">Hybrid</div>
                                <div class="column reqs">Full-time</div>
                                <div class="column reqs">5+ Years</div>
                            </div>
                            <!--skills list-->    
                            <div class="columns is-mobile" style="margin-bottom: 1rem; padding-left: 0.3rem;flex-wrap: wrap;">
                                <div class="column skill">Python</div>
                                <div class="column skill">Django</div>
                                <div class="column skill">Front-End Dev</div>
                                <div class="column skill">server-side coding</div>
                                <div class="column" style="line-height: 1.1;"> <u>+2 skills </u></div>
                            </div>
                            <ul class="" style="font-size: 1.4rem;
                            font-weight: 500;">
                                <li><i class="fa-solid fa-dollar-sign"></i>  To be negotiated</li>
                                <li><i class="fa-solid fa-location-dot"></i>  Peshawar, Pakistan</li>
                                <li><i class="fa-solid fa-list-check"></i>  22 Applicants</li>
                                <li></li>
                            </ul>
                            <div  style="margin-top: 1.4rem;display: inline-flex;flex-direction: row;width: 100%;align-items: center;justify-content: space-between;">
                                <div >
                                    <i class="fa-solid fa-clock-rotate-left"></i> Posted 9 days ago
                                </div>
                                <div >
                                    <a href="/jobpost5" target="_blank" style="all: unset;"><button class="applybtn">Apply now</button></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!--               Another column-->
                    <div class="column jobclmn" >
                        <div class="container is-fluid"  >
                            <!--Icon and name   -->
                            <div class="columns is-mobile iconandtitle">
                                <div class="column is-3">
                                    <div style="background-image: url(../static/newimgs/logo3.png); background-repeat: no-repeat; background-size: cover; height: 4rem; width: 4rem;"></div>
                                </div>
                                <div class="column is-9">
                                    <h1 style="font-size: 2rem;
                                    font-weight: 600;
                                    line-height: 1.1;
                                    letter-spacing: -2px;">Graphic designer / Illustrator</h1>
                                    <p>VisionCraft Studios</p>
                                </div>
                            </div>
                            <!--Requirements list-->    
                            <div class="columns is-mobile" style="margin-bottom: 1rem;">
                                <div class="column reqs">Islamabad</div>
                                <div class="column reqs">Remote</div>
                                <div class="column reqs">Full-time</div>
                                <div class="column reqs">2+ Years</div>
                            </div>
                            <!--skills list-->    
                            <div class="columns is-mobile" style="margin-bottom: 1rem; padding-left: 0.3rem;flex-wrap: wrap;">
                                <div class="column skill">Adobe Creative Suite</div>
                                <div class="column skill">Creativity</div>
                                <div class="column skill">Attention to Detail</div>
                                <div class="column" style="line-height: 1.1;"> <u>+2 skills </u></div>
                            </div>
                            <ul class="" style="font-size: 1.4rem;
                            font-weight: 500;">
                                <li><i class="fa-solid fa-dollar-sign"></i>  To be negotiated</li>
                                <li><i class="fa-solid fa-location-dot"></i>  Islamabad, Pakistan</li>
                                <li><i class="fa-solid fa-list-check"></i>  29 Applicants</li>
                                <li></li>
                            </ul>
                            <div  style="margin-top: 1.4rem;display: inline-flex;flex-direction: row;width: 100%;align-items: center;justify-content: space-between;">
                                <div >
                                    <i class="fa-solid fa-clock-rotate-left"></i> Posted 12 days ago
                                </div>
                                <div >
                                    <a href="/jobpost6" target="_blank" style="all: unset;"><button class="applybtn">Apply now</button></a>
                                </div>
                            </div>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</section>



<!--                                 Footer         -->
 <footer id="footer">
    <div class="container-fluid" style="margin-top:.5rem;">
        <div class="columns" style="margin-bottom:2rem;">
            <div class="column is-two-fifths" id="footerc1">
                <figure>
                    <img src="../static/images/inverted-logo.png" alt="logo of FRIDAY" srcset="">
                </figure>
                <h2 id="footerh2">Stay in the loop and sign up for our newsletter.</h2>
                <div class="field has-addons" >
                    <div class="control is-expanded has-icons-left">
                        <form action="/email_list" method="post" style="display: flex; ">
                            <div id="formdiv" >
                                <input id="formin" class="input is-80" type="email" placeholder="Enter your email" name="email">
                            </div>
                        </form>
                    </div>
                  </div>
                <div style="display: inline-flex; flex-direction: row;">
                    <a href="https://wa.me/923279024800"><i class="fa-brands fa-square-whatsapp ficon"></i></a>
                    <a href="https://www.instagram.com/the_friday_hr"><i class="fa-brands fa-square-instagram ficon"></i></a>
                    <a href="https://www.facebook.com/fridayexp"><i class="fa-brands fa-square-facebook ficon"></i></a>
                    <a href="https://www.linkedin.com/company/thefridayhr/"><i class="fa-brands fa-linkedin ficon"></i></a>
                    <a href="mailto:hello@thefridayhr.com"><i class="fa-solid fa-envelope ficon"></i></a>
                </div>
            </div>
            <div class="column is-two-fifths" id="footerc3">
                <div class="columns is-mobile">
                    <div class="column is-half">
                        <ul class="ful">Company
                            <li style="padding-top: 0.5rem;"><a href="/index">Home</a></li>
                            <li><a href="/hrpricing">Pricing</a></li>
                            <li><a href="/hrsoftware">HR Software </a></li>
                            <li><a href="https://jobs.thefridayhr.com">Find a job</a></li>
                            <li><a href="/about">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="column is-half">
                        <ul class="ful">Resources
                            <li style="padding-top: 0.5rem;"><a href="/blog">Blog</a></li>
                            <li><a href="/blog#section3">E-books</a></li>
                            <li><a href="/blog#career">Career-guidance</a></li>
                            <li><a href="/blog#section3">Helpful tools</a></li>
                             
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column is-one-fifth is-hidden-mobile " style="text-align: right; padding-right: 2.5rem;">
                <blockquote>
                    "Great things in business are never done by one person; they're done by a team of people."<br>
                    <cite>Steve Jobs</cite>
                </blockquote>
            </div>
        </div>
        <div id="footerend">
        <p>Friday Technologies and Systems. All rights reserved.</p>
        <p><a href="/privacy">Terms and conditions</a></p>
    </div>
    </div>
</footer>

<script src="https://kit.fontawesome.com/114047c3df.js" crossorigin="anonymous" defer></script>
<script src="../static/js/combined.js"></script>
<script src="../static/sal/sal.js"></script>
<script>
sal({
    threshold: .7,
    once: false,
  });
</script>
<script>
    function addClassBasedOnScreenSize() {
    var screenWidth = window.innerWidth;
    var divElement = document.getElementById("firstclmns");
    
    // Check if screen width is greater than 768px
    if (screenWidth > 768) {
      divElement.classList.add("centeredclmns");
    } else {
      divElement.classList.remove("centeredclmns");
    }
  }
  
  // Call the function initially and add an event listener for window resize
  addClassBasedOnScreenSize();
  window.addEventListener("resize", addClassBasedOnScreenSize);
</script>
</body>
</html>